[2015-11-08 21:58] fizruk opened #1 "Use Default and Semigroup?"
Some `Monoid` instances do not obey laws, because `mempty` is used as a default value and is only left identity for `mappend`, but not right (`x <> mempty ≠ x`). For these structures [`Default`](https://hackage.haskell.org/package/data-default/docs/Data-Default.html) and [`Semigroup`](https://hackage.haskell.org/package/semigroups/docs/Data-Semigroup.html) instances might make more sense than `Mon

[2015-11-09 11:11] fizruk opened #3 "Add support for refs"

[2015-11-09 11:12] fizruk opened #4 "Add support for swagger extensions"

[2015-11-09 11:13] fizruk commented on #1
@dmjio are you okay with `Default` and `Semigroup` instead of `Monoid`?

[2015-11-09 22:18] #3 closed

[2015-11-10 10:11] fizruk commented on #1
With fixed `SwaggerMonoid Text` instance in 10ee930a9b8e43b01f58abda98c2e445dc45fcfd only these are left as not true monoids:

- `SwaggerOperation`;
- `SwaggerParameter`;
- `SwaggerParameterOtherSchema`.

All these probably need `Bool` replaced with `Maybe Bool`.
This will fix `Monoid` instances to obey right identity law and we won't need to introduce `Default`/`Semigroups`.

@dmjio are you okay

[2015-11-10 10:38] fizruk opened #7 "Enforce swagger spec properties"
Some properties are optional/required depending on values of other properties.
It would be good to be able to enforce this relations in our data model.

One way to do this is to encode it as sum-of-products with multiple duplication of fields for every combination of properties that influence the form of the whole object. Then we might provide a lens-like interface so that users won't be dependant

[2015-11-10 12:58] #1 closed

[2015-11-10 14:36] dmjio commented on #1
`Maybe Bool` is fine

[2015-11-17 13:45] fizruk commented on #7
I have been thinking about this occasionally and tried a few things.
So far it looks like it's not worth pursuing this sort of specification model.

My related work can be found [in this gist](https://gist.github.com/fizruk/f82fbabb229eb0e2aa92).
This is a partial solution to the problem with the main idea to have two models: "typed" and "untyped" (or rather "undertyped"). Having "untyped" model s

[2015-11-17 23:22] dmjio commented on #7
@fizruk, I tend to agree. While noble, adding TH and families to enforce invariants on the oft ill-defined spec. may be more trouble than it's worth. I think viewing this library as our "assembly" and having higher level libraries compile to it (via GHC.Generics / TH) is the way to go. If you're pleased with the state of this library as a swagger assembly language, then I think it's time migrate s

[2015-11-18 16:12] fizruk commented on #7
I am okay with the state of this library, so you can start migrating `servant-swagger`.

I guess I can start working on generic schema derivation within this library.
Although you're right that we'll most likely need a separate generic derivation for `servant-swagger`, I think many things would be reused rather than reimplemented.

[2015-11-23 14:05] fizruk opened #11 "Reduce noise in produced JSON"
Omit empty lists and dictionaries from `toJSON` output.

[2015-11-25 18:32] fizruk opened #12 "Schema validation and test against aeson instances"
It should be straightforward to implement validation:

[code]

Given that we should add tests for compliance with `aeson`'s `ToJSON` instances:

[code]

[2015-11-27 23:59] fizruk opened #13 "Schema naming and whole swagger spec"
As discussed previously in https://github.com/GetShopTV/swagger2/pull/10#issuecomment-159711762.

When building the entire `Swagger` spec we can't know for sure all needed schema definitions for a spec to be complete. Here's an example:

[code]

How would we know to add `Dog` and `Color` to auto-generated swagger spec?

The solution I think should be for `ToSchema` to generate also a list of used

[2015-11-28 13:04] fizruk opened #14 "Schema name conflicts"
Hypothetical example:

[code]

[code]

In this example both `MyApp.Contact` and `PhoneBook.Contact` have name `"Contact"` and therefore schema for `MyApp.Contact` becomes recursive which is wrong.

Perhaps `datatypeNameModifier` should work with fully qualified names (or it should take module name and datatype name as separate arguments).

[2015-11-30 03:01] juhp opened #15 "0.4 test failure: Ambiguous module name ‘Data.HashSet’"
See fpco/stackage#1010

[code]

Test failed in the Stackage Nightly for swagger2-0.4

[2015-11-30 03:31] dmjio commented on #15
`hashmap` is deprecated, use `unordered-containers` if possible

[2015-11-30 07:33] fizruk commented on #15
I am not sure why this happens, given that `hashmap` is not in `swagger2` dependencies.

Should we use `PackageImports` to explicitly specify `unordered-containers`?
I think that would fix the problem, but it seems weird to manually disambiguate a module that is not ambiguous when you consider dependencies in `.cabal` file.

[2015-11-30 08:28] bergmark commented on #15
You are correct in that you shouldn't need PackageImports, strange error. I also queued swagger2 at http://matrix.hackage.haskell.org/package/swagger2

[2015-11-30 09:52] bergmark commented on #15
Sorry I missed that this was the test-suite, so matrix won't help. But it did uncover [other build error](http://matrix.hackage.haskell.org/package/swagger2)

[2015-11-30 09:54] fizruk commented on #15
@bergmark I am sorry, but where can I find the error? I see no logs there.

[2015-11-30 09:56] bergmark commented on #15
By clicking the red (failure) cells

* http://matrix.hackage.haskell.org/package/swagger2#GHC-7.10/swagger2-0.4
* http://matrix.hackage.haskell.org/package/swagger2#GHC-7.8/swagger2-0.4
* http://matrix.hackage.haskell.org/package/swagger2#GHC-7.6/swagger2-0.4

[2015-11-30 10:08] fizruk commented on #15
The GHC 7.10 build error is weird because it refers to `deriveJSON`'s generated code.
I see that it uses latest `aeson-0.10.0.0`, so I can probably fix it by setting an upper bound on `aeson`.

@bergmark how can I improve my Travis builds to catch this kind of errors before the release?

[2015-11-30 10:16] bergmark commented on #15
I use https://github.com/hvr/multi-ghc-travis to test multiple GHC versions. Matrix essentially just does `cabal install swagger2` so since travis starts with a clean sandbox it should give the same results.

[2015-11-30 10:19] fizruk commented on #15
I hoped for a `stack`-based version of `multi-ghc-travis` :)

Okay, will switch back to `cabal-install` then.

[2015-11-30 10:24] fizruk commented on #15
@bergmark what should I do about tests failure? Am I correct that the problem was introduced by [this `swagger2.cabal` diff v0.3–v0.4](http://hdiff.luite.com/cgit/swagger2/diff/swagger2.cabal?id=0.4&id2=0.3)?

[2015-11-30 11:33] bergmark commented on #15
Yes that seems correct. From the littleI know about doctest it sounds plausible that it doesn't use packages dependencies properly and instead uses the whole packagedb. If so, a PackageImport would solve this. But it may be wise to ask the doctest developers as well.

[2015-12-01 08:33] fizruk commented on #15
The GHC 7.10 build failure in matrix is due to `aeson-0.10.0.0` bug (see bos/aeson#293).
I am surprised it hasn't been released yet!

I have added an upper version bound for `aeson` in 9b3470d2723ffefea287063d74f4331c4c26e629 until the fix is released.

[2015-12-01 09:14] fizruk commented on #15
Closing this issue since both build problems should be fixed in [v0.4.1](http://hackage.haskell.org/package/swagger2-0.4.1).

[2015-12-01 09:14] #15 closed

[2015-12-02 06:33] juhp commented on #15
Thanks!

[2015-12-07 10:51] fizruk opened #16 "ToParam class"
This should probably look like this:

[code]

[2015-12-08 05:14] dmjio commented on #16
LGTM :+1:

[2015-12-10 21:05] #16 closed

[2015-12-12 01:22] fizruk opened #20 "More documentation"
Something current docs lack:
- [x] non-empty README;
- [x] end-to-end example for a simple API (e.g. todo service API);
- [x] explain how to use the package (e.g. `Monoid` instances, lenses, generic schemas);
- [ ] probably more documentation for internal modules.

[2015-12-12 03:27] #13 closed

[2015-12-12 03:38] fizruk opened #21 "useReferences semantics"
Now that #19 is merged we can change `useReferences` semantics or even get rid of the option altogether.

Currently `useReferences` only affects schemas reachable from `GToSchema`, so e.g. for this type `Object` is not reachable:

[code]

With `declareNamedSchema` we can now inline every schema.
Moreover since we have access to all used schemas and we can choose which one to leave and which one to

[2015-12-13 00:30] #11 closed

[2015-12-13 14:41] fizruk commented on #14
#### Renaming schemas

I think we can solve this one by introducing helpers for renaming schemas both at the `ToSchema` level and whole-spec. Here's a sketch:

[code]

#### Using renaming explicitly to resolve conflicts

Here's how the example above can be fixed with explicit `ToSchema` instance for `MyApp.Contact`:

[code]

Alternatively, for this particular example we can use a shorter definitio

[2015-12-13 20:47] fizruk commented on #7
For the sake of history:

Some code redundancy regarding types and collection formats has been removed with `SwaggerType` (f9c8629d780d625e4d7e33c843ff0aaba78a15aa) and `CollectionFormat` GADTs (a9cdd0f9e1d55795eab99cd83c7671bf770db732).

Although this does not enforce anything that hasn't been enforced already, it makes "untyped" swagger model considerably simpler.

I am closing this until we hav

[2015-12-13 20:47] #7 closed

[2015-12-18 21:18] #21 closed

[2015-12-20 13:26] #20 closed

[2015-12-21 20:54] fizruk opened #27 "Remove/replace invalid Monoid instances"
I think this is a minor concern, but nonetheless, some `Monoid` instances are currently invalid.
Most notable `ParamLocation` and `SwaggerType`:

[code]

Perhaps these two and all types that use them should be instances of `Default` and `Semigroup` instead.

[2015-12-22 21:32] fizruk opened #28 "Put collectionFormat in one place"
For example, in `ParamSchema`. This might enable things like:

[code]

Alternatively we can leave it in `Items`, changing its meaning to "collection format of these items (always required)". Then `CSV` example above would look like this:

[code]

If there is a solution where we can put collection format entirely out of schema — that would be preferable, since `ParamSchema` is contained in `Schema`

[2015-12-22 21:53] fizruk opened #29 "Use int64 format and similar for integer schemas"
Swagger UI seems to recognize `int64` integer format and displays it an `long`.
Probably, we should encode `Int64` using format rather than minimum/maximum.
Or maybe both.

[2015-12-24 11:19] fizruk commented on #29
@dmjio what do you think about this one?

[2015-12-24 19:57] fizruk opened #30 "Add ToFormData class"
Form data is halfway between `ParamSchema` and `Schema` with an extra property that it can handle `SwaggerFile`. I think it makes sense to introduce a class `ToFormData` for that. Instances of this class can be derived generically for records where each field has a `ParamSchema` instance.

The correspondence of type-level and value-level classes is this:
- `ToParamSchema` — `ToHttpApiData`;
- `ToF

[2015-12-25 13:37] fizruk opened #31 "Add ToExample class"
Similar to `ToSample` class from `servant-docs`.

[2015-12-25 14:44] #29 closed

[2015-12-30 22:38] #28 closed

[2016-01-15 13:01] fizruk opened #34 "Derive name only for objects (maybe optionally)"
Swagger UI seems to not like when non-object schemas have names.
Typical error message looks like this:

[code]

I have tried this on [petstore.swagger.io](http://petstore.swagger.io/), maybe they have outdated Swagger UI.

The problem is not critical as everything is displayed fine except names are ignored.

@dmjio did you run into this problem?

[2016-01-15 13:28] fizruk commented on #34
This does not seem to be an issue on [editor.swagger.io](http://editor.swagger.io).

[2016-01-15 19:03] fizruk opened #35 "Unexpected default schema for unit data types"
Example:

[code]

Expected schema:

[code]

[2016-01-16 16:02] fizruk opened #37 "Unused definitions produced for simple newtypes"
Generic mechanism sometimes declares unused definitions.
Below is an example of when this happens.

Declare a common type with a named schema:

[code]

Wrap that named typed in a simple `newtype`:

[code]

Generic mechanism does not need to produce definition for `Id`, but it does so nonetheless.

[code]

Fix should be simple enough.

[2016-01-18 12:29] #35 closed

[2016-01-18 13:19] #37 closed

[2016-01-18 15:29] fizruk opened #39 "Consider using makeFields, not makeLenses"
`HasParamSchema` will still be useful.

[`makeFields`](https://hackage.haskell.org/package/lens-4.12/docs/Control-Lens-TH.html#v:makeFields) should shorten many names in [`Data.Swagger.Lens`](http://hackage.haskell.org/package/swagger2-1.1.1/docs/Data-Swagger-Lens.html).
For example it would turn this code:

[code]

into

[code]

@dmjio what do you think? Would this simplify customizing spec by a

[2016-01-18 18:50] dmjio commented on #39
yea, this would be really cool, as long as we don't have any overlapping lenses. In that case it might be best to make a typeclass that contains a lens. (example: if `title` is found in more than one data type)

[2016-01-18 18:52] fizruk commented on #39
@dmjio [`makeFields`](https://hackage.haskell.org/package/lens-4.12/docs/Control-Lens-TH.html#v:makeFields) will do exactly that! Check out its documentation :)

[2016-01-18 18:55] dmjio commented on #39
oh that's beautiful, for some reason I was thinking of `makeLenses`. Looks perfect

[2016-01-20 21:40] fizruk opened #40 "Make NamedSchema a data type"
To cite @jkarni:

Having a separate type will also mean `Name` and `Schema` will be named fields rather than `_1` and `_2`.

[2016-01-20 22:05] jkarni commented on #40
I'm happy to do this, but `NamedSchema` would have to move (if we want the lenses for it to be in `Lenses.hs`) to avoid circular imports, and I'll defer to you on where to move it to (or whether to have the lenses elsewhere).

[2016-01-21 15:02] #40 closed

[2016-01-22 00:12] fizruk opened #43 "Add IsString instances"
Risking to confuse typechecker even further, we can make some nice `IsString` instances.
E.g. compare:

[code]

vs

[code]

The following types I think can reasonably have `IsString` instances:
- `Host`;
- `License`;
- `Tag`;
- `Param` (not sure yet, but `"param"` would be equivallent to `mempty & name .~ "param"`);
- `Response`;
- `Referenced a` (when `a` has `IsString` instance);
- `Reference` (

[2016-01-22 00:54] #39 closed

[2016-01-22 01:21] fizruk opened #44 "Put PathItem's operations in HashMap"
We could replace `_pathItemGet`-like fields with `_pathItemOperations :: HashMap Method Operation`.
This would simplify traversal of this type.

[2016-01-22 12:57] fizruk commented on #34
Closing since current behaviour does not contradict swagger 2.0.

[2016-01-22 12:57] #34 closed

[2016-01-23 20:31] pikajude opened #45 "Add ToSchema for Schema"
One of my API endpoints needs to return a swagger Schema that users can use to validate their inputs to another endpoint.

Here's a JSON spec for Schema: https://raw.githubusercontent.com/OAI/OpenAPI-Specification/master/schemas/v2.0/schema.json

[2016-02-01 14:56] #12 closed

[2016-02-01 14:58] #43 closed

[2016-02-01 21:26] np opened #51 "ToSchema instances for ByteString"
I'm not quite what these should or actually why `servant-swagger` ends up needing such an instance.
I guess this could be given a similar instance than Text.

[2016-02-01 21:50] fizruk commented on #51
@np can you paste the exact error message you are getting? Along with a single API endpoint causing trouble, if possible.

I suppose that you're getting this error for `toSwagger` call, which will demand `ToSchema` instance for `ByteString` only if any of your endpoints accepts (in a `ReqBody`) or responds with a `ByteString`.

Note that `ByteString` does not have a `ToJSON` instance, so it probab

[2016-02-01 23:26] np commented on #51
Ok, let's say I have a wrapper type `T` around a `ByteString`, The type `T` is used as the return value of a `Get` for instance: `Get '[PNG] T`.

What would you recommend as an instance for `ToSchema T` where `T` is such just binary data.

[2016-02-02 00:02] fizruk commented on #51
@np Swagger specification offers [a few common formats](http://swagger.io/specification/#dataTypeFormat), among which you can find `byte` (for base64 encoding) and `binary` (for any sequence of octets).

I think the following instance would make sense for `T`:

[code]

[2016-02-06 17:02] fizruk opened #52 "Validate common formats"
Since we do not equip schemas for `Int32`/`Int64`/etc. with `minimum`/`maximum`, we should validate `int32`/`int64`/etc. formats.

[2016-02-06 18:46] fizruk opened #53 "declareResponse should have a description argument"

[2016-02-08 13:24] fizruk commented on #51
@np [`swagger2-2.01`](http://hackage.haskell.org/package/swagger2-2.0.1) has now [`binarySchema`](http://hackage.haskell.org/package/swagger2-2.0.1/docs/Data-Swagger-Schema.html#v:binarySchema) and [`byteSchema`](http://hackage.haskell.org/package/swagger2-2.0.1/docs/Data-Swagger-Schema.html#v:byteSchema) templates you can use.
E.g. the example above would change to this:

[code]

I don't think th

[2016-02-08 13:24] #51 closed

[2016-03-03 08:59] phadej opened #54 "Swagger paths are permutted."
as `_swaggerPaths` is a `HashMap`, not only the order is different from what is declared (e.g. in `servant` API type), it's arbitrary. For machine reading, it's ok; but swagger-ui suffer from this:

<img width="360" alt="screen shot 2016-03-03 at 10 54 07" src="https://cloud.githubusercontent.com/assets/51087/13489220/849ba5e8-e12e-11e5-9042-0593f31115d4.png">

I could work on this, if we agree on

[2016-03-03 09:12] fizruk commented on #54
Maybe something like this?

[code]

Also, we can replace all/most of the `HashMap`s used in the data model.
For instance, this ordering might also be useful for `Schema`'s properties.

[2016-03-03 19:54] phadej commented on #54
I'll take on this tomorrow/on the weekend.

[2016-03-04 12:51] phadej opened #57 "Use `generics-sop` to write generic derivations"
This is only a proposal. For me `GHC.Generics` code is very hard to work with.

You can leverage `generics-sop` while requiring only `GHC.Generics`, for example https://github.com/futurice/haskell-ansi-pretty/blob/master/src/Text/PrettyPrint/ANSI/Leijen/AnsiPretty.hs#L88

Motivated by problems in https://github.com/GetShopTV/swagger2/pull/56

[2016-03-06 01:33] fizruk opened #58 "Move Declare out"
I think that...

`DeclareT` belongs in `transformers` (see [ross/transformers#24](http://hub.darcs.net/ross/transformers/issue/24) on DarcsHub).

`MonadDeclare` belongs in `mtl` (see ekmett/mtl#32)

[2016-03-14 03:18] ivan-m opened #60 "ToSchema documentation broken"
It seems that the Haddock documentation for the ToSchema typeclass doesn't seem to match the actual code any more: https://github.com/GetShopTV/swagger2/blob/master/src/Data/Swagger/Internal/Schema.hs#L78

[2016-03-14 11:24] fizruk commented on #60
@ivan-m thanks for noticing!

You're right, it should now be this:

[code]

I'll update the docs on Hackage shortly!

[2016-03-15 18:46] alanz opened #61 "Generic deriving ToParamSchema fails for a Tuple"
[code]

fails with

[code]
I would expect it to end up something like

[code]

[2016-03-15 19:07] fizruk commented on #61
@alanz fair enough.

Another solution I think is to provide instances in the library for tuples.
That is, to not change the generic mechanism.
Because if we are changing it then some questions arise:
- should this also work for `data Foo = Bar Int String`?
- should this also work for `data Foo = Bar { x :: Int, y :: String }`?

Personally I am not sure encoding the last one as `[x, y]` would make

[2016-03-15 19:51] alanz commented on #61
I would be happy with an instance for a tuple, as I have not been able to create one myself yet.  And the example I quoted above comes from modifying the example `Todo.hs` in `servant-swagger` examples to have the new route "foo" which takes a tuple param.

[code]

[2016-03-16 19:29] alanz opened #62 "ToSchema for Data.Aeson.Value generates invalid json"
When using

[code]

via `declareResponse` the generated json is

[code]

This fails to validate when the entire swagger.json file is lloaded into http://editor.swagger.io/#/, complaining about the "Null" definition as

[code]

I presume this is because `items` is an empty list for `Null`

[2016-03-16 19:39] alanz commented on #62
Odd, http://spacetelescope.github.io/understanding-json-schema/reference/array.html#list-validation says "The empty array is always valid:"

[2016-03-16 19:42] fizruk commented on #62
Unfortunately, this is how things are.

Swagger spec does not tell anything about `items` being a non-empty list, but it does tell us that `items` is required. In general `items` is an object/reference for homogenous arrays and an array for encoding tuples. So using `items: []` for encoding `Null` seems reasonable (note that this is also how `aeson` would actually encode `Null` when using generic

[2016-03-16 19:47] alanz commented on #62
My goal is to get to the point where the standard swagger tools, mainly `swagger-ui` and the code gen work with the haskell-ide-engine servant API.

I am new to this ecosystem, so I do not know what the appropriate approach is.

Perhaps the best point of attack would be to get the swagger tool validation fixed?

[2016-03-16 19:50] fizruk commented on #62
@alanz does that error prevent you from displaying the API?

Note that some errors are actually warnings — they do not affect the UI or affect it negligibly.
Also note that `swagger-ui` is a bit older than `swagger-editor` and as such supports fewer features of Swagger.

[2016-03-16 19:54] alanz commented on #62
I have only been using the `swagger-editor` so far, as I get my api generator to work. I will ignore this problem for now, and try the other tools when I am happy with the rest of my generated `swagger.json`

[2016-03-16 19:55] #60 closed

[2016-03-17 19:08] alanz commented on #61
@fizruk I am completely stuck here.

Could you give me an example of how to declare

[code]
?  The comment for `SwaggerItems` says "SwaggerItemsArray should be used to specify tuple Schemas" but I get a type error for  `SwaggerItems Schema` being provided instead of `SwaggerItems t`.

And an error for overlapping `HasItems` instances.

[2016-03-18 11:12] fizruk commented on #61
@alanz hmm, I now see why I didn't have instances for tuples.

Swagger specification does not allow `SwaggerItemsArray` in `ParamSchema`, but only in `Schema`.
So if your `ParamSchema` has type `SwaggerArray` then it has to be homogenous.

In case of a homogenous tuple you can provide a `ParamSchema` like this:

[code]

Since there is no general solution (for heterogenous tuples) I no longer think

[2016-03-18 11:24] alanz commented on #61
Thanks.  FYI (Int,Int) represents a text position line and col, and I think the simplest will be to separate them in hie, which works more cleanly on the API anyway.

But the thing that confuses me is that the `servant-swagger` comes up with a representation which I put in my initial report, and have been using as a goal ever since.

[2016-03-18 11:30] fizruk commented on #61
That's what I recommend, yes.

Can you rephrase/elaborate on this? If something is confusing you, I would love to fix that!

[2016-03-18 11:43] alanz commented on #61
What confuses me is that I get

[code]

From amending the `servant-swagger` example to have
[code]

where the JSON excerpt is the parameters for the "foo" path which I added to the example.

[2016-03-18 12:00] fizruk commented on #61
Request and response bodies use `Schema` while query parameters, captures and headers use `ParamSchema`. The main difference between `Schema` and `ParamSchema` is that `Schema` allows objects and heterogenous lists in addition to what `ParamSchema` allows. That is because `Schema` specifies the format for JSON data while `ParamSchema` specifies format for text-like parameters with almost no struct

[2016-03-18 12:03] fizruk commented on #62
@alanz I'm still interested in your answer to this question, if you don't mind :)

Note that `swagger2` does not provide an instance for `Value` because Swagger Schema does not allow ambiguous or undefined type and does not provide `anyOf` property like JSON Schema does.
So it is impossible to provide a valid `ToSchema Value` instance matching `ToJSON`.

[2016-03-18 12:03] alanz commented on #61
Yes it does, and the key point is that a Schema can be used in the request body, which is what hie does, and explains why the sample works.

Thanks.

[2016-03-18 12:05] fizruk commented on #61
Great! I'll keep this issue open as a reminder to include that explanation into the documentation.

[2016-03-18 12:08] alanz commented on #62
I think the problem only comes into play for the JSON Null value. I am not sure how much this is used in practice for APIs.

And it originates because some `hie` commands are specified as returning an aeson `Object` rather than a full type.

It might be better to sidestep the issue and let the `Object` be encoded directly as JSON, rather than an encoding of the aeson `Value` item.

[2016-03-18 12:14] fizruk commented on #62
If you're only interested in returning arbitrary `Object`, you can specify only the type and leave other `Schema` properties undefined:

[code]

Note however that `Data.Aeson.Object` is a type synonym for `HashMap Text Value`.
So you might want to wrap it into a `newtype` to define a separate `ToSchema` instance.

[2016-03-18 12:26] alanz commented on #62
Ok, will give it a try

[2016-03-26 15:53] alanz commented on #62
@fizruk wrt the the `Null` encoding for a `Value`.  Consulting the spec and experimenting in the editor it seems that

[code]

works. This ties up with my intuition that `Value` is a sum type, and we just need a constant marker for its presence.  I think the problem comes from that we actually have two levels of encoding (three, if you include the `Aeson.encode` function), where we have a JSON str

[2016-03-26 17:27] alanz opened #63 "Record style data declarations generate better swagger"
This is not a bug, just an observation, which should perhaps be documented.

The generically-derived swagger schema for

[code]

generates

[code]

whereas

[code]

generates

[code]

[2016-03-26 17:37] fizruk commented on #63
This is sort of documented in

But I agree that we could be more explicit about default encoding for different data types.

[2016-03-26 17:42] alanz commented on #63
I think the problem is that the `item` based encoding does not mark both items as being required, too.

[2016-03-26 17:46] fizruk commented on #63
@alanz yes, we should add `minItems`/`maxItems` for tuples, thanks for pointing that out!

[2016-03-29 23:03] fizruk commented on #54
Closed by #56.

[2016-03-29 23:03] #54 closed

[2016-03-29 23:08] fizruk commented on #57
This is partially covered in #56 (see `toEncoding` imlementations).

[2016-05-02 17:45] alanz opened #64 "The pathitems should be sorted in the generated swagger.json"
The pathitems are stored in a `HashMap`, and so come out in random order when serialised to JSON.

These should be sorted, otherwise introspection tools struggle with them.

[2016-05-02 17:47] alanz commented on #64
Thinking about it, there may be a specific ordering that makes sense in terms of presentation/understanding of an API.

So maybe an ordered list should be used rather than a `HashMap`, so the user can manage the order.

[2016-05-02 21:32] fizruk commented on #64
This has already been addressed in #56 with an introduction of `InsOrdHashMap` (which keeps elements in order of insertion). Feel free to reopen if it does not solve your problem though.

[2016-05-02 21:32] #64 closed

[2016-05-02 21:40] alanz commented on #64
Ok, I am using the hackage (via stackage) version, I do not think this
feature has been published there yet.

On Mon, May 2, 2016 at 11:32 PM, Nickolay Kudasov <notifications@github.com>
wrote:

[2016-05-26 15:19] snoyberg opened #66 "Haddock build failure with GHC 8"
[code]

[2016-05-26 15:26] phadej commented on #66
This is a `haddock` bug. Issue is https://github.com/haskell/haddock/issues/508 and workaround in https://github.com/haskell/haddock/pull/512

[2016-05-28 19:19] fizruk commented on #66
@phadej do I understand correctly that the workaround is to be applied for `haddock`, not `swagger2`?

[2016-05-29 15:28] phadej commented on #66
@fizruk it's an issue in Haddock, but I'll see if it can be worked around in `swagger2`. Patching `haddock` for everyone is quite difficult :(

[2016-07-30 02:57] joe9 opened #68 "example for decoding Swagger 2.0 API specifications or manipulating them."
I could not find anything in the examples directory to figure out how to decode or manipulate Swagger API definition. Can you please help?

I have a Swagger schema from which I generated haskell code using swagger-codegen. Unfortunately, I am not happy with the generated code and I am not proficient enough in Java to fix it. Hence, wanted to check if there was any way I can read the Swagger schema

[2016-07-30 09:41] phadej commented on #68
Doesn't using `aeson` work for you?

[code]

[2016-07-30 09:44] fizruk commented on #68
To decode Swagger specification or any of its parts you just use `FromJSON` instance.
For example, you can do this:

[code]

Something similar is used in [`servant-swagger`'s example test suite](https://github.com/haskell-servant/servant-swagger/blob/master/example/test/TodoSpec.hs#L21) to check that generated API spec corresponds to `swagger.json` (to track API changes).

To manipulate `Swagger`

[2016-07-30 13:34] joe9 commented on #68
Thanks.

[2016-07-30 13:34] #68 closed

[2016-08-07 17:13] phadej opened #69 "Changes introduced by aeson-1"
I'm not sure if we should take them into account. At least how `Map` and `HashMap` can be serialised in `aeson-1`.

Please discuss.

[2016-08-07 18:37] fizruk commented on #69
We should change these `ToSchema` instances:

[code]

To do that we have to either introduce a new `ToSchemaKey` class corresponding to `ToJSONKey`, or to use `ToParamSchema`. I am not sure which we should use.

The rest of the changes we can probably safely ignore.

[2016-08-07 22:15] phadej commented on #69
From `ToJSONKey` we'll know whether `Map` is serialised as object or array,
I'm not sure whether swagger spec supports specifying what kind the keys are in `Dict<key,value`? So this is almost correct:
[code]

[2016-08-08 07:40] fizruk commented on #69
Hmm, you're right, `toJSONKey` provides all necessary info:

[code]

[2016-08-08 07:57] fizruk commented on #69
@phadej do we need to address any of the other changes `aeson-1.0.0.0` introduced?

[2016-08-08 21:29] fizruk commented on #69
Hmm, that instance above requires also `ToSchema k` which is only used for array representation, but I guess that's not a problem.

[2016-08-09 06:55] #69 closed

[2016-08-09 08:41] NCrashed opened #71 "Build failure with ghc 7.10 and aeson < 1.0"
The problem is [here](https://github.com/GetShopTV/swagger2/blob/master/src/Data/Swagger/Internal/Schema.hs#L506):
[code]

ghc: 7.10.3
aeson: 0.11.2.1

[2016-08-09 11:09] NCrashed commented on #71
Thanks! Could you publish fixed version to Hackage?

[2016-08-09 13:55] #71 closed

[2016-08-09 13:57] phadej commented on #71
Fixed in `swagger2-2.1.2.1`

[2016-08-09 16:36] NCrashed commented on #71
Thank you!

[2016-08-12 18:39] agrafix opened #73 "Make Day date format explicit"
[code]

Is there a reason why this is not explicitly `toParamSchema _ = timeParamSchema "yyyy-mm-dd"`?

[2016-08-12 19:00] fizruk commented on #73
Yes, `date` is one of the officially supported formats and is treated somewhat specially by Swagger UI. Specifically, it automatically gains valid example and its "Data Type" appears as "date" rather than "string". In the future Swagger UI might also add date picker, although it is not currently implemented.

![screen shot 2016-08-12 at 23 58 22](https://cloud.githubusercontent.com/assets/686582/1

[2016-08-12 19:01] agrafix commented on #73
Cool thanks for the quick reply! :-)

[2016-08-12 19:01] #73 closed

[2016-08-12 19:24] agrafix opened #74 "'mixed' sum types generate bad swagger json"
Given code like this:

[code]

a bad `swagger.json` will be generated:

[code]

The lines are (marked with `<<< ERROR HERE`):

[code]

and

[code]

If I add at least one field to each constructor, or each field does not have any constructors all works fine. It's probably not clear what the swagger documentation would look like?

[2016-08-12 19:32] fizruk commented on #74
The first error is known to me and unfortunately I don't think we can fix it. More specifically, the error is about `items: []` which Swagger don't like. However, AFAIK it does not contradict Swagger specification.

The second error I'm not sure about. Is there any message for it?

[2016-08-12 19:35] agrafix commented on #74
I think the second error is due to the first error, i.e. swagger (or in this case the swagger editor at http://editor.swagger.io/#/ ) fails to read the `PatRowStatus` definition thus the API endpoint is falsy.

I'm also unsure how to fix it, but maybe we can document somewhere that this won't work out?

[2016-08-12 19:43] fizruk commented on #74
Yes, I guess we should add a section about known validation errors.
Contributions are welcome! :)

[2016-08-12 20:04] agrafix commented on #74
I'll give it a shot

[2016-08-28 18:14] NCrashed opened #76 "How to specify response type `file`?"
Hi,

I want to generate the following swagger spec (not relevant parts are omitted):
[code]

For example, for following API:
[code]

Is there a way to do it properly?

[2016-08-29 08:08] fizruk commented on #76
Hmm, this is something I have missed in the spec of [Response Object](http://swagger.io/specification/#responseObject)'s `schema` parameter:

So it is impossible currently to have `file` type for a response schema. Sorry.

Simple way to fix this is to change `SwaggerFile`'s type to `SwaggerFile t` to allow it in schemas.
This will allow strictly more programs and will not be a breaking change. How

[2016-08-29 11:53] NCrashed commented on #76
Thank you for fast response. That isn't required ASAP. I use workaround with `SwaggerString` type as  the particular endpoint is not used for automatic deriving of clients at the moment.

[2016-09-02 09:32] fizruk commented on #30
Forms are now in `http-api-data-0.3`!

[2016-09-03 21:21] fizruk opened #77 "Add TypeError for ByteString instance"
The error message should basically repeat what is said in #51.

[2016-09-19 14:21] phadej opened #79 "Add ToSchema1/2 to complement aeson-1 ToJSON1/2"
Example implementation https://github.com/futurice/haskell-futurice-prelude/pull/49/commits/3c30b31b5a165d33d0a94b4afa11a3e61a195df9

I can make a PR if there are no objections.

[2016-09-19 16:28] fizruk commented on #79
No objection, except we also probably need To/FromSchemaKey.

[2016-09-19 16:29] phadej commented on #79
that's true, but I'll rather have it in different PR

[2016-09-20 14:57] parsonsmatt opened #80 "Generic deriving doesn't nest"
Deriving a generic implementation of a data type only considers the top level generic derivation and requires `ToSchema` instances of all data types contained therein, rather than just `Generic` instances.

Suppose I have a type `Foo` in a library that I want an instance of `ToSchema` for:

[code]

In my own code, I'd write:

[code]

The code now is going to complain that `Foo` doesn't have a `ToS

[2016-09-20 15:23] phadej commented on #80
Don't you write
[code]

So there are no way around than writing:
[code]

Unfortunately you might end up with orphan instances, so without knowing what actual `Bar` and `Foo` are, I cannot comment on them further.

[2016-09-20 17:01] parsonsmatt commented on #80
That's fair. Do you know off hand if there's a reason that the generic instance doesn't fallback to generic if `ToSchema` or `ToJSON` aren't found?

[2016-09-20 17:01] #80 closed

[2016-09-20 17:31] phadej commented on #80
@parsonsmatt because you cannot write code "If there is instance `MyClass a` do this, otherwise do that".

I can found the [related SO question](http://stackoverflow.com/questions/26885067/why-context-is-not-considered-when-selecting-typeclass-instance-in-haskell), but without a good answer. I'll try to think of one.

[2016-09-25 21:30] fizruk commented on #79
I would probably like (someone) to start with that other PR then :)

[2016-09-25 21:50] phadej commented on #79
I'll assign this to myself, so I remember to write *this* PR at some point.

[2016-10-01 21:35] #77 closed

[2016-10-24 12:47] phadej opened #86 "Add `ToSchema Value`"
AFAICS there isn't one. It's not that useful, but good to have for completeness

[2016-10-24 12:55] fizruk commented on #86
I don't think that's a good idea for reasons similar to bytestrings. If your servant API accepts/responds with just `Value` — wrap it in a newtype with meaningful description. We could provide helpers for that though, e.g. `payloadJSONSchema` or `anyObjectSchema`.

[2016-11-15 14:39] fizruk opened #87 "Add instances for TimeOfDay"
See [`Data.Time.LocalTime.TimeOfDay`](https://hackage.haskell.org/package/time-1.6.0.1/docs/Data-Time-LocalTime.html#t:TimeOfDay).

[2016-11-15 15:03] fizruk commented on #74
Closed by #83.

[2016-11-15 15:03] #74 closed

[2016-11-15 15:06] fizruk commented on #66
Just noticed docs are still missing on Stackage. If I understand correctly the issue has been fixed in `haddock`. @phadej what actions are required here?

[2016-11-15 15:11] fizruk commented on #63
Still have to add `minItems`/`maxItems` for array-encoded tuples. This should be done in [`withFieldSchema`](https://github.com/GetShopTV/swagger2/blob/master/src/Data/Swagger/Internal/Schema.hs#L686-L687) to increment `minItems` and `maxItems`.

[2016-11-15 15:13] fizruk commented on #62
Closing in favour of #86.

[2016-11-15 15:13] #62 closed

[2016-11-15 18:11] phadej commented on #66
@fizruk I'm not sure (but hopefully) the fix will be in haddock to be released with 8.0.2.

[2016-11-15 18:13] phadej commented on #86
I'd like to have `Value` instance still, as they might be somewhere deep in the objects.

`ByteString` is different, as it doesn't have `ToJSON`/`FromJSON` instances either.

[2016-11-16 07:18] fizruk commented on #86
Fine then. Are you willing to make a PR?
Also, is there a way to attach a compile-time warning to the instance? If so, should we add one?

[2016-12-23 13:26] saurabhnanda commented on #86
I just got bitten by lack of this instance. My usecase -- supporting Posgres' JSONB in my client-facing JSON API as well.

[2016-12-23 13:36] saurabhnanda opened #88 "Dealing better with polymorphic records"
I'm trying to build an **ultra** type-safe JSON API with the following data types. The idea is to tell the client that fields like `createdAt`, `updatedAt`, and `key` are NOT expected in the incoming (JSON when creating a contact), whereas they *will* be present in the response JSON.

[code]

The swagger docs get generated fine, but the schema is generated for `ContactPoly` instead of `NewContact`

[2016-12-23 13:46] fizruk commented on #86
@saurabhnanda is there a reason you can't use a `newtype` wrapper around `Value`?
Does it have to be any `Value` or is it `Object` really?

E.g. we have something like this to be able collect some extra info we haven't added to the API yet:

[code]

So far the only reason for having this instance is `Value` is buried deep in the objects and you might not have the access to wrap it in a `newtype`.

[2016-12-23 13:53] fizruk commented on #88
@saurabhnanda You can easily change default name with `mapped.name` lens.
This would probably work for you (not tested):

[code]

[2016-12-23 13:55] fizruk commented on #88
I should probably add some documentation for polymorphic types.

[2016-12-23 14:07] saurabhnanda commented on #88
Apart from the name will this also take care of the fact that NewContact
and ReadContact will have sone fields of differrnt types?

On 23 Dec 2016 7:23 pm, "Nickolay Kudasov" <notifications@github.com> wrote:

[2016-12-23 15:23] fizruk commented on #88
@saurabhnanda it should yes.

However there'll be a small problem with `()` fields.
I imagine you want those fields gone from the generated Schema.

You can certainly do this manually:

[code]

You can also find and remove those fields based their schema instead of name:

[code]

However, schema for `()` can also match schemas for other type.
Although this is unlikely to cause any confusion, you c

[2016-12-23 20:10] saurabhnanda commented on #86
I might be confused. What's the difference between Value and Object? What
would be used to represent a well-formed JSON?

On 23 Dec 2016 7:16 pm, "Nickolay Kudasov" <notifications@github.com> wrote:

[2016-12-23 20:52] phadej commented on #86
Object has an object as the outer constructor, i.s. it's not an array or plain number or string. AFAIK, jsonb can be "just an int", so Value is correct one

[2016-12-23 22:09] fizruk commented on #86
Yes, `Object` can only be an object (i.e. a map) while `Value` can also be an array, a string, a number, a boolean or null. In most cases you want `Object` and not `Value`. Even if you're storing it in `jsonb` in PostgreSQL database.

One reason is that it is not clear how to combine two `Value`s (e.g. when an update comes) while it is fairly straightforward to combine two `Objects` (merge or deep

[2016-12-24 01:26] saurabhnanda commented on #86
For my use-case it should be Object then, not Value. And do we already have
a ToSchema instance for Object?

On 24 Dec 2016 3:39 am, "Nickolay Kudasov" <notifications@github.com> wrote:

[2016-12-24 01:37] fizruk commented on #86
@saurabhnanda no, not yet. `Object` is just a type synonym for `HashMap Text Value` and since there's no instance for `Value` there's no instance for `Object`. But I think it can (and should) be added separately.

It's simple to define one locally for now:

[code]

[2016-12-24 09:37] saurabhnanda commented on #88
Why would this be?

[2016-12-24 10:42] saurabhnanda commented on #88
I tried the following:

[code]

And it's generating an invalid Swagger schema:

[code]

[2016-12-24 11:23] saurabhnanda commented on #88
Next, I tried the following:

[code]

And landed up with:

[code]

It's not picking up the **complete definition** of `ReadContact` and `WriteContact`, apart from other things, right?

[2016-12-24 11:27] saurabhnanda commented on #88
I even tried changing everything from `type` to `newtype`, like given below, but even that didn't work:

[code]

[2016-12-26 08:23] fizruk commented on #88
@saurabhnanda I've just mistyped `/=` as `==`. I believe everything should be fine when you fix that.
That is instead of

[code]

it should be

[code]

Let me know if that fixes your problem!

[2016-12-31 07:27] lostman opened #89 "Can't parse Azure API specifications"
I'm trying to parse Azure API specifications:

https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-storage/2016-05-01/swagger/storage.json

[code]

But I'm getting an error:
[code]
An example from `"definitions"` looks like this:
[code]
Is there a way to deal with this?

[2016-12-31 11:43] fizruk commented on #89
The problem is `StorageAccountCheckNameAvailabilityParameters` is missing `"type"` key.
I suspect they assume `"object"` type by default, so you can insert missing type before parsing Swagger spec. However, I believe Swagger 2.0 specification demands `"type"` to always be present.

I would recommend using [`aeson-lens`](https://hackage.haskell.org/package/lens-aeson-1.0.0.5/docs/Data-Aeson-Lens.ht

[2017-01-04 03:20] lostman commented on #89
Thanks! Adding `"type": "object"` helped. I only tried parsing `storage.json` for now. I also had a similar issue with `allOf` field:
[code]
and adding `"type": "object"` fixed that too.

[2017-01-06 12:33] YPares opened #90 "No instance for (Data.Swagger.Internal.ParamSchema.GToParamSchema"
Following the example in http://hackage.haskell.org/package/swagger2-2.1.3/docs/Data-Swagger.html I'm trying to make Person an instance of ToParamSchema (I have an API where similar datatypes are used to encode query string parameters):

[code]

However I'm getting this error everytime the datatype I try to make an instance of ToParamSchema out of is a record:

[code]

[2017-01-10 08:01] fizruk commented on #89
@lostman can this issue be closed?

[2017-01-10 08:14] lostman commented on #89
Yes. Thanks for help!

[2017-01-10 08:14] #89 closed

[2017-01-10 08:24] fizruk commented on #90
@YPares `ParamSchema` deriving does not work for product types and it usually makes little sense. `ParamSchema` is a schema for your query params and captures, and there usually is just one value, not a structure. Do you really need `ToParamSchema` for your type? Or did you just want `ToSchema`? The last one is used for request and response bodies (typically in JSON format).

The error message cou

[2017-01-10 08:50] YPares commented on #90
@fizruk Actually yes, I do need ToParamSchema because such a type is used to contain the query string parameters (in Servant).

[code]

[2017-01-10 08:59] fizruk commented on #90
@YPares this does not look like a valid Servant API, unless you have custom `HasServer (Person :> api)` instance (as well as custom `HasSwagger (Persion :> api)` instance). Also, since`Person` is a set of query params, not a single parameter, it's not `Person` that needs to have `ToParamSchema` instance, but it's field types.

Can you please share a minimal working example where you either get an

[2017-01-10 09:03] YPares commented on #90
@fizruk Ha, you're right, `HasServer (Person :> api)` was declared somewhere. I'm not a Servant expert, sorry, I missed that much.

[2017-01-20 11:32] fizruk commented on #90
@YPares do you still have problems with Swagger or can this be closed?

[2017-01-20 12:38] fizruk commented on #88
@saurabhnanda do you still have problems or can we close this issue?

[2017-02-12 08:54] brendanhay commented on #66
How often do these classes/fields that are generated via `makeFields/Classy` change? It seems like just dumping the splices, tidying them up, and removing the use of template-haskell would avoid any similar issues like this in future?

[2017-02-12 08:55] brendanhay commented on #66
Also, running GHC `8.0.2` and still encountering this error when building Haddock for my application/libraries that depend on `swagger2`.

[2017-02-18 07:40] fizruk commented on #90
I am closing this issue. Feel free to reopen if there are any further problems!

[2017-02-18 07:40] #90 closed

[2017-02-18 07:41] fizruk commented on #88
Closing this issue. Feel free to reopen if you have any further questions.

[2017-02-18 07:41] #88 closed

[2017-02-18 08:01] #63 closed

[2017-03-15 13:01] phadej opened #93 "Add instances for NonEmpty"

[2017-03-21 07:06] fizruk opened #94 "Do something clever with ToSchema for polymorphic types"
Turns out someone just got "bitten" by `ToSchema (Either a b)` instance we have.
Since `Generic` mechanism can't display names of the type parameters, we name all instances just `"Either"`. Apart from bad naming this results in silent overwriting schemas in `Definitions`.

This turned out not good for one of IOHK's APIs ([see here](https://github.com/input-output-hk/cardano-sl/blob/master/src/Pos/

[2017-03-21 07:33] phadej commented on #94
can't we extract the names for child schemas from schemas for `a` and `b`?

[2017-03-21 07:34] fizruk commented on #94
@phadej not always, name is optional (which makes sense, e.g. for `(Int, String)`).

[2017-03-21 07:35] fizruk commented on #94
We can use names for child schemas and fallback to `show . typeOf` though.

[2017-03-21 07:53] phadej commented on #94
Well, I guess `Typeable` isn't that bad, as everything is `Typeable`, unelegant it is though :/ I'd rather make name less-optional...

[2017-03-21 07:59] fizruk commented on #94
@phadej What names would you use for lists and tuples and maps? We can make names mandatory, but it does not make much sense to introduce Haskell lists, tuples and maps into Swagger spec.

Perhaps we can add an "inline me" instruction per schema so that schemas always have names (to be used in schema names for polymorphic types) but some schemas are always inlined (e.g. lists, tuples, maps).

[2017-03-21 08:00] fizruk commented on #94
And we can easily filter "inlined" schemas from definitions.

[2017-03-21 12:25] phadej commented on #94
That sounds great; I'd like to avoid `Typeable`, it's a code smell; if we have to use it (otherwise we could just used `Data` directly ;))

[2017-03-21 19:35] fizruk commented on #66
@phadej what do you think about dumping slices as @brendanhay suggests?

[2017-03-28 14:56] neongreen commented on #66
In case anybody needs it, we've got a fork of swagger2 with Haddock disabled (via an OPTIONS_HADDOCK pragma in every module): https://github.com/serokell/swagger2. You can add it to your stack.yaml like this:

[code]

[2017-03-28 15:08] fizruk commented on #66
@neongreen I guess we could add a Cabal flag for this?

@phadej what do you think is the best option here?

[2017-03-29 09:07] neongreen commented on #66
Well, yep, I guess you could.

[2017-03-29 09:16] phadej commented on #66
@fizruk any solution is ok, especially if it's easy to revert if it's not necessary with to-be-soon released GHC-8.2.1

[2017-04-01 17:48] RyanGlScott opened #95 "Fails to build on GHC 8.2"
When doing some field testing today, I noticed that `swagger2` fails to build with GHC 8.2:

[code]

The issue is that starting in GHC 8.2, the datatypes in `GHC.Generics` [became poly-kinded](https://ghc.haskell.org/trac/ghc/wiki/Migration/8.2?version=19#GHC.Genericsismorepolykinded). There are two ways one could fix this problem:

1. Use an explicit kind signature for `GSumToSchema`:

[code]

[2017-04-01 19:18] phadej commented on #95
I assume both variants works with GHC>=7.8? I have no opinion on this, I assume generics functors are always instantiated as `* -> *` when used in `deriving (Generic)`?

[2017-04-01 19:21] RyanGlScott commented on #95
Yes, both options are backwards compatible back to GHC 7.8.

Yes. It's only `Generic1` that is allowed to take advantage of things of kind `k -> *`.

[2017-04-03 08:40] phadej commented on #66
Seems it will be resolved with 8.2: https://github.com/haskell/haddock/issues/508#issuecomment-291070100

[2017-04-03 20:24] mossprescott opened #96 "Missing instances for MonadDeclare"
I’m using a type like `(MonadDeclare (Definitions Schema) m, MonadReader AppSettings m) => m Swagger` to construct each chunk of spec. A number of these later get composed into an overall `Swagger` value. Because some (but not all) of the endpoints need settings, and some (but not all) need to refer to definitions, it’s helpful to be able to use `MonadDeclare` and `MonadReader` just where they’re

[2017-04-05 08:27] fizruk opened #97 "Enum values ordering depends on Int"
Turns out `swagger.json` can differ for you if your `Int` is different. On most machines today `Int` is equivalent to `Int64`, but on some it's `Int32`. Having different `Int` results in different `HashMap`, because apparently hashes depend on `Int`. We don't use `HashMap` however, we use [`InsOrdHashMap`](http://hackage.haskell.org/package/insert-ordered-containers-0.2.0.0/docs/Data-HashMap-Stric

[2017-04-15 09:41] phadej commented on #97
`insert-ordered-containers` updated. Should we bump the lower-bound for it, or just let it be?

[2017-04-19 09:30] fizruk commented on #97
I confirm that the downstream issue we had with this at work is now (partially) resolved.

I think we just let it be the latest Stackage snapshots already include your changes, so we're fine.

[2017-04-19 09:30] #97 closed

[2017-04-19 10:45] fizruk opened #98 "Architecture-independent encoding for Swagger"
Currently I'm using [`encodePretty`](https://hackage.haskell.org/package/aeson-pretty-0.8.2/docs/Data-Aeson-Encode-Pretty.html) to generate `swagger.json`. However, `encodePretty` is not exactly a *"drop-in replacement for aeson's `encode`"* since it relies on `toJSON` while `encode` uses `toEncoding`.

This results in different key ordering on 32-bit and 64-bit machines and unnecessary diffs for

[2017-04-19 11:40] phadej commented on #98
I think so.

I don't have better option (now) than parsing json (preserving the ordering, there isn't such variant and encoding it again in prettier way. I did an experiment to `encode` in `aeson` thru a stream of tokens (which could be further encoded with or without whitespace), but didn't get to work as fast as current *directly to `Builder`* version,

[2017-04-21 19:11] fierce-katie opened #99 "ToSchema instance of NominalDiffTime doesn't match the description in Data.Time.Clock"
There's the following instance:
[code]
Meanwhile [`time` documentation](http://hackage.haskell.org/package/time-1.4.0.1/docs/Data-Time-Clock.html#t:NominalDiffTime) says :

It leads to unexpected errors when I try to validate  `ToJSON` matches `ToSchema`:
[code]

[2017-04-21 21:17] fizruk commented on #99
Indeed. We need to add `ToSchema` and `ToParamSchema` instances for [`Fixed`](https://hackage.haskell.org/package/base-4.9.1.0/docs/Data-Fixed.html).
Then we can redefine `ToSchema` instance for `NominalDiffTime` in terms of `Pico` (which is a type synonym for `Fixed E12`).

[2017-04-25 18:57] #96 closed

[2017-04-26 13:43] fizruk opened #101 "Add instance MFunctor DeclareT"
As @phadej suggested in https://github.com/GetShopTV/swagger2/pull/100#issuecomment-296771754 we should add `MFunctor` instance for `DeclareT` for completeness.

Note that we can't define `MMonad` instance (similarly to `StateT`).

[2017-05-02 18:29] mossprescott opened #103 "Doc missing from hackage in 2.1.4 release"
It appears that the docs didn't make it to hackage for the latest release:

http://hackage.haskell.org/package/swagger2-2.1.4

Most of the modules are not linked, and the pages that are there seem to missing stylesheets. Things looked fine in 2.1.3; maybe a bad build?

[2017-05-03 12:38] fizruk commented on #103
Yes, doc build failed:

![screen shot 2017-05-03 at 15 37 40](https://cloud.githubusercontent.com/assets/686582/25660792/869343b4-3016-11e7-8ed8-5f03c6f03ed2.png)

I will try to upload docs manually now.

[2017-05-16 12:48] qrilka commented on #94
Any updates on this one?
I'm currently struggling to get swagger spec for a code like
[code]
And `inlineSchemas` loops while `inlineNonRecursiveSchemas` doesn't do inlining of course.

[2017-05-16 13:16] fizruk commented on #94
@qrilka I did not have the time yet to implement this, are you willing to work on a PR (with my help of course)?

Regarding your example, I don't see why it wouldn't work. Can you show what schemas are produced and what schemas you're trying to achieve?

In any case, you can always fix naming in the `ToSchema` instances for your `Pair` like this:

[code]

[2017-05-16 13:43] phadej commented on #94
@fizruk could we add `Typeable` as a constraint to `ToSchema` and detect loops automatically (polymorphic recursion will still fail, but you cannot get everything)?

[2017-05-16 13:49] fizruk commented on #94
@phadej yeah, we kind of already discussed the plan, I just didn't have time to implement it :)

[2017-05-16 14:13] qrilka commented on #94
for `Pair Int (Pair Int Int)` I'm getting
[code]
And I was trying to get something like
[code]
I.e. having 2nd level `Pair` inlined to prevent recursion.
I'll use the recipe you'v given above @fizruk and I'm not sure I have enough time to work on PR for this.
BTW wasn't the previous idea about filtering out "inlined" schema and not to go with `Typeable`?

[2017-05-16 14:22] fizruk commented on #94
Ah, I misunderstood that `ConcretePair` was meant as a type synonym, not `data` as you wrote it.
Now your problem makes sense!

It should work fine for you and since there's a growing need in handling polymorphic types, I think we'll implement this in the library relatively soon!

Yes, but that requires some changes to the `ToSchema` class definition (to add information about which schemas should

[2017-05-24 21:44] fizruk commented on #58
Starting with [`transformers-0.5.4.0`](https://hackage.haskell.org/package/transformers-0.5.4.0) there's [`Control.Monad.Trans.Accum`](https://hackage.haskell.org/package/transformers-0.5.4.0/docs/Control-Monad-Trans-Accum.html) which is `DeclareT` under a different (more general) name — `AccumT`.

[2017-05-24 23:05] phadej opened #105 "OpenAPI3"
https://www.google.fi/amp/s/blog.readme.io/an-example-filled-guide-to-swagger-3-2/amp/

So... what is the plan?

[2017-05-24 23:30] fizruk commented on #105
At a first glance looks like not much has changed.

Some changes to Schema are interesting, specifically:
- `oneOf` (or `anyOf`) can now be used to better represent sum types.
- `nullable` is something people were asking about.

Otherwise OpenAPI 3.0.0 looks like mostly regrouping/renaming things.

I guess we should fork `swagger2` and make a new `openapi3` package?
And similarly fork `servant-swa

[2017-05-30 13:46] alexbiehl commented on #66
Actually a fix is included in [haddock-2.17.4](http://hackage.haskell.org/package/haddock)

[2017-05-31 12:01] qrilka opened #107 "What part of Swagger spec describes SwaggerItemsArray?"
In our code I've tried using `SwaggerItemsArray` with the following `ToSchema` instance:
[code]
which should cover as I understand values like e.g. `[21, 6, 4, 1]`.
But with a `swagger.json` for that Python client (which uses `bravado` to access Swagger endpoints) on unmarshaling line:
[code]
And it looks like according to the spec (as shown at http://swagger.io/specification/#itemsObject or https

[2017-05-31 12:14] qrilka commented on #107
It looks like jso-schema spec allows arrays though -  https://tools.ietf.org/html/draft-fge-json-schema-validation-00#page-9

[2017-05-31 12:18] qrilka commented on #107
And in the next spec https://github.com/OAI/OpenAPI-Specification/blob/OpenAPI.next/versions/3.0.md#properties it is even said explicitly

[2017-05-31 12:32] fizruk commented on #107
@qrilka `array` stands for both homogeneous lists (like haskell lists) and tuples (heterogeneous lists of fixed size).

**For homogeneous** lists `items` property is just one Schema that describes type for all items.
**For tuples** `items` property is a list of Schemas, one Schema per value in a tuple.

Note though that you can limit the size for homogeneous lists using `maxItems` and `minItems`.

[2017-05-31 13:02] qrilka commented on #107
@fizruk actually I've written almost the same code as you've pasted above :)

[2017-05-31 14:30] fizruk commented on #107
To be clear, I'm happy with the way things are right now. I don't think any of my APIs rely on `SwaggerItemsArray`, but it makes a nice representation for tuples.

Nonetheless, someone should read Swagger specification thoroughly and decide whether `SwaggerItemsArray` has to go. If yes, then someone (else) should send a PR fixing it for everyone.

[2017-07-04 10:56] qrilka opened #109 "What about HasEnum for Schema?"
According to https://swagger.io/specification/#schemaObject `enum` is a valid property for any schema object not only for parameters, shouldn't `HasEnum` instance be added for `Schema` too?

[2017-07-04 11:01] fizruk commented on #109
Yes!

In all `ParamSchema` properties could be carried over with `HasX` instances to `Schema`.
And also `NamedSchema` :)

Are you willing to make a PR to add all those missing instances?

P.S. You can currently edit `enum` property of any `Schema`, you just have to dig one level deeper, into `paramSchema`.

[2017-07-04 12:11] qrilka commented on #109
Actually I think I was looking into wrong direction - I tried to add `enum_` to `Referenced Schema` which of course failed but `Inline $ toSchema (Proxy @ String) & enum_ .~ ["foo", "bar"]` looks to work OK.
As for the instances - it looks like version 2.1.3 (which we currently use) has them but in `master` I see only instance of `HasParamSchema` for `NamedSchema` - did instance for `Schema` disap

[2017-07-05 15:25] fizruk commented on #109
Yeah, I got confused too... instances got merged into a more general one:

[code]

So anything that has `ParamSchema` also has `enum_` and other lenses.

This is not obvious from haddocks now... I wonder, how can we improve that while not having tons of instances. @phadej do you know of a trick?

[2017-07-05 18:16] qrilka commented on #109
And the other tied issue is #103 :)

[2017-07-05 18:17] qrilka commented on #109
But otherwise @fizruk feel free to close this issue

[2017-07-14 17:47] #95 closed

[2017-07-14 19:18] phadej commented on #103
Uploaded docs for 2.1.4.1

[2017-07-14 19:18] #103 closed

[2017-07-19 19:11] phadej commented on #66
Also works with `haddock` bundled with GHC-8.2-rc3

[2017-08-08 04:34] daurnimator commented on #105
OpenAPI 3.0.0 was released in july. https://www.openapis.org/blog/2017/07/26/the-oai-announces-the-openapi-specification-3-0-0

[2017-08-16 17:15] taphu opened #112 "Haddock failure with LTS-9.0"
I am experiencing a failure when trying to build the haddocks for my stack-based project which depends on `swagger2`.

It turns out I get the same error when I just try to build the haddocks for `swagger2` in isolation. I believe this might be a different issue than https://github.com/GetShopTV/swagger2/issues/66 because there is nothing about a `haddock: internal error: spliceURL UnhelpfulSpan` i

[2017-08-16 18:12] phadej commented on #112
I have seen the same issue (haddock output just ends, without an error). I have no solution, I moved to use nightly with GHC-8.2, there haddock works. So probably some bug in haddock which is fixed in version bundled with GHC-8.2.

[2017-08-17 00:11] ivan-m opened #113 "AWS API Gateway compatability"
FYI: I've just found out from AWS technical support that the reason my generated (from `servant-swagger`) Swagger specification wasn't working was because they don't support the `example` field for objects/models.

It might be worth documenting this.

[2017-08-28 15:05] ThomasCrevoisier commented on #105
@fizruk I'm currently using your package in my job and I'll need to be able to use `oneOf` soon for sum types. Can I help you with the implementation ?

[2017-08-28 21:47] fizruk commented on #105
@ThomasCrevoisier you can certainly fork and add `oneOf` support.

However, there's a big question on how to fit this change in the current package. If you only add `oneOf` you end up with something that's neither Swagger 2.0 nor OpenAPI 3.0.0.

I see 3 options to move forward:
- start a new package (say, `openapi3`);
- add a new top-level module `OpenAPI3` to this package, so it has support for b

[2017-08-29 10:32] phadej commented on #105
I think second option is good enough for now, but I'm interested in seeing `openapi3` package eventually. I could help with it, but only after a while.

[2017-08-29 11:58] ThomasCrevoisier commented on #105
If I understood correctly Swagger 2.0 is a subset of OpenAPI 3.0.0 ? If so, the second option would be a good transition before having an `openapi3` package indeed.

Is there a way to discuss privately ? I would be happy to help but I need to improve my understanding of the codebase and my Haskell skills a bit.

[2017-08-30 07:09] fizruk commented on #105
@ThomasCrevoisier @phadej I have created [haskell-swagger2](https://gitter.im/haskell-swagger2/Lobby) community in Gitter and invited you. Would Gitter be ok?

[2017-09-03 11:21] mithrandi opened #115 "Add ToSchema/ToParamSchema instances for Identity"
Specifically, `ToSchema a => ToSchema (Identity a)`.

[2017-09-03 11:32] phadej commented on #115
Yes. Could you make a PR?

[2017-09-04 20:29] vwwv commented on #74
@fizruk, would a PR constraining the shape allowed to be generic derived to those not problematic ones be welcome ?
Also using like https://downloads.haskell.org/~ghc/master/users-guide/glasgow_exts.html#custom-compile-time-errors to explain the issue ?

[2017-09-04 20:43] fizruk commented on #74
Yes, it would! I have used custom type errors to prevent people from making an instance for ByteString and here we can use that too.

Although in this case I'm not sure it's easy to separate problematic shapes. If it's not I wish we had custom type warnings.

Anyway, work in this area would be appreciated and might be useful for servant-docs and similar libraries as well.

[2017-09-04 21:12] vwwv commented on #74
Ok, I'll give it a try this week :)

[2017-09-08 10:59] qrilka commented on #109
Closing as invalid

[2017-09-08 10:59] #109 closed

[2017-09-08 20:52] mossprescott opened #119 "`allOf` should accept `Referenced Schema`"
According to [the spec](https://swagger.io/specification/#properties-99), a reference is allowed anywhere a Schema Object can appear, but `_schemaAllOf :: Maybe [Schema]` means that only an inline schema is accepted for the `allOf` property.

As far as I can tell, all other `Schema` properties are typed as `Referenced Schema`.

The motivating case is a schema which has several `UTCTime` properties

[2017-09-09 00:34] fizruk commented on #119
Interestring, I did not think `allOf` could actually be useful!

Can you share more about the workflow you have (or would like to have) with `allOf`?

I know about the problem with different descriptions for different fields, but I do not have any good solutions. Except making `newtype`s with adjusted `ToSchema` instances (which is unfortunate if you only need to change the description). I think t

[2017-09-10 10:51] #119 closed

[2017-09-10 10:57] #115 closed

[2017-09-11 14:20] mossprescott commented on #119
Nice, thanks, @fizruk and @rodrigosetti!

[2017-09-19 18:32] simonmichael opened #122 "swagger 2.1.5 not in stackage nightly"
Just FYI: the latest swagger2 is being kept out of stackage nightly by hledger-api's upper bound on it, cf: https://github.com/fpco/stackage/issues/2861 , https://github.com/simonmichael/hledger/issues/612 . Any help with updating hledger-api to support the new swagger2 (as well as the older ones) is welcome.

[2017-09-19 18:39] fizruk commented on #122
Solution presented in https://github.com/simonmichael/hledger/issues/612#issuecomment-330632015.

[2017-09-21 09:02] felixonmars opened #124 "Doesn't build with aeson 1.2.2.0"
I did the following in the Arch package to make it builds again:

[code]

The original errors:

[code]

[code]

[2017-09-21 17:33] fizruk commented on #124
@phadej I see you self-assigned this.
I'll wait for a fix before making a release then.

[2017-09-21 20:12] phadej commented on #124
Fixed in #125

[2017-09-21 21:20] fizruk commented on #124
Released in [`swagger2-2.1.6`](http://hackage.haskell.org/package/swagger2-2.1.6).

[2017-09-22 15:03] Pitometsu commented on #88
@fizruk could `swagger` do

[code]
by default for polymorphic records?

[2017-09-22 15:04] fizruk commented on #88
@Pitometsu I'm not sure what you mean... but did you try it? :)

[2017-09-22 15:05] Pitometsu commented on #88
@fizruk …or `AbsentField `?

[2017-09-22 15:06] Pitometsu commented on #88
Just trying figure out how to make instances for polymorphic type in easiest way.

[2017-09-22 15:08] Pitometsu commented on #88
I mean, isn't there no default type like `AbsentField` in `swagger` yet?

[2017-09-22 17:35] Pitometsu commented on #88
@fizruk tryed above example, but got:

[code]
In
[code]

[2017-09-22 18:25] simonmichael commented on #122
hledger master now supports old and new swagger2. I plan to wait for the hledger 1.4 release in about a week, at which time this will be in stackage and the bound on swagger2 can be lifted.

[2017-09-25 05:21] simonmichael commented on #122
Resolved sooner, by https://github.com/fpco/stackage/commit/68297c61680e4fc55aa4b65e63d4c2e43b98960b.

[2017-09-25 05:21] #122 closed

[2017-09-29 22:11] gbaz commented on #51
With a large API we're trying to autogenerate against, having to handwrite a bunch of stuff due to this limitation is a bit annoying. Is a better solution possible? Possibly some sort of parameterization like aeson has with `defaultOptions` so that we could just pass in options that specified the desired schema to use for such things where there's some degree of freedom in the choice?

[2017-09-29 22:13] gbaz commented on #51
(Note that the API we're autogenerating against is in turn generated from other code, so its nontrivial to just wrap the bytestrings in the underlying data types ourselves)

[2017-09-29 22:33] fizruk commented on #51
@gbaz you can always wrap/replace `ByteStrings` with this simple trick:

[code]

With this type family you can generate Swagger documentation for an altered API to workaround `ToSchema ByteString` type error:

[code]

[2017-09-29 22:36] fizruk commented on #51
@gbaz this `ReplaceInAPI` should probably go in [`Servant.API.TypeLevel`](http://hackage.haskell.org/package/servant-0.11/docs/Servant-API-TypeLevel.html) in some form.

[2017-09-29 22:40] gbaz commented on #51
This isn't exactly what I'm looking for I think -- the problem is I have a datatype `A` that holds a datatype `B`. And somewhere in `A` and `B` are the bytestrings. So the instance ToSchema for `A` and `B` can't be autogenerated... You can't see the bytestrings at the level of the servant code. There's instead a `Post '[JSON] A` at that level.

[2017-09-29 22:52] fizruk commented on #51
@gbaz ah, I see. Sorry for misinterpreting :)

You can do this then in your local code to lift the `ByteString` limitation:

[code]

I did not test this code, so let me know if you get stuck.

[2017-09-30 00:01] gbaz commented on #51
Nice! it appears to work. Thanks. Maybe both these tricks could be added to the documentation somewhere.

[2017-09-30 10:42] phadej commented on #51
@gbaz out of curiosity, how you do define `ToJSON A`

[2017-10-02 15:48] gbaz commented on #51
Orphan instances :-)

[2017-10-02 15:55] phadej commented on #51
@gbaz, well that's your solution for `swagger2` then :)

[2017-10-02 17:25] gbaz commented on #51
Right -- the way to do it as provided above was just somewhat nonobvious to me, as compared to just hand-providing an instance directly. :-)

[2017-10-10 13:16] Pitometsu opened #127 "reuse toJSON instances"
E.g. I have type

[code]

And `ToJSON` instance like this:

[code]
And auto-generated `ToSchema` instance:

[code]

So, swagger would looks like:

[code]

But instead I expect to see something more like:

[code]

The question is: how to do this?

[2017-10-10 13:25] Pitometsu commented on #127
@fizruk can you suggest solution, please?

[2017-10-10 13:35] phadej commented on #127
If you write `ToJSON` by hand, you have to write `ToSwagger` by hand as well.

@fizruk We should add that note, and an example to http://hackage.haskell.org/package/swagger2-2.1.5/docs/Data-Swagger.html#g:4, shouldn't we?

[2017-10-10 13:50] Pitometsu opened #128 "nullability"
Currently swagger mark some fields as required.
However, is there also option for nullable/non-nullable fields?

[2017-10-10 14:36] Pitometsu commented on #127
like
[code]

[2017-10-11 07:33] fizruk commented on #127
@Pitometsu yes, that seems like a valid instance. Just two comments:
- Schema for `Maybe Int` is the same as for `Int`. The difference can only be seen when using `Generic`-based deriving — then `Maybe`-fields won't show up as `required`. When using `declareSchemaRef` it really should be the same, so you can just drop `Maybe`.
- `required .~ []` is redundant.

`FromJSON` and `ToJSON` instances onl

[2017-10-11 07:43] fizruk commented on #128
Swagger 2.0 does not have any nullable options.

There's an [`x-nullable: true` extension] you might use... but extensions are not supported in `swagger2`. It should be easy enough to add them, so PR is welcome. OTOH `x-nullable` is the only extension I've heard people wanting so far and it's probably not worth it.

Also note that OpenAPI 3.0.0 (Swagger's successor) does support `nullable` option.

[2017-10-11 08:16] Pitometsu commented on #127
Thank you a lot for detailed answer, things become much more clear now.

[2017-10-17 11:13] fizruk opened #129 "Move sample types, instances and schemas to a single module"
See @fierce-katie's suggestion in https://github.com/GetShopTV/swagger2/pull/126#pullrequestreview-69544942.

[2017-10-17 11:25] fizruk opened #130 "Provide a DSL to derive both Schema and JSON instances"
It is currently impossible to derive `ToSchema`, `ToJSON` or `FromJSON` from any other class.
However, as @kosmikus has pointed out during HaskellXtogether it should be possible to provide a new DSL to derive all of those (and maybe more?).

I personally rely mostly on `Generic`-based instances and that just works, but the problem of mismatching instances still persists for hand-written instances

[2017-10-17 12:28] kosmikus commented on #130
See my BOB 2017 talk ([slides][1], [video][2]) for some more background on this (although unrelated to Swagger).

[1]: https://www.andres-loeh.de/bidirectional-bobkonf.pdf
[2]: https://www.youtube.com/watch?v=w43kve1zeoI

[2017-10-17 13:43] fierce-katie commented on #99
Isn't it fixed already (see #121)?

[2017-10-17 13:48] fierce-katie commented on #99
Fixed in [`swagger2-2.1.6`](http://hackage.haskell.org/package/swagger2-2.1.6).

[2017-10-17 13:48] #99 closed

[2017-10-24 11:48] loewenstein opened #131 "Apparently there is a type defaulting logic implemented in swagger tools that is not specified"
Cannot parse https://raw.githubusercontent.com/kubernetes/kubernetes/master/api/openapi-spec/swagger.json because it does not contain type attributes for definitions.

swagger-cli does successfully validate that same OpenAPI spec document though.

I have created an issue on the spec repo that this should be specified so that all tools are aligned. https://github.com/OAI/OpenAPI-Specification/issue

[2017-10-24 11:56] amiddelk opened #132 "Nontermination when using datatypeNameModifier with recursive data types"
Using LTS 9.9 with swagger2-2.1.6 or, alternatively, the current main branch of the repository:
When using the option genericDeclareNamedSchema in combination with recursive data types, the produced schema grows unbounded. Here is a standalone example:

[code]

My best guess would be that the transformed name is not taken properly in account when checking for recursion.

[2017-10-24 17:30] loewenstein commented on #131
According to the discussions on https://github.com/OAI/OpenAPI-Specification/issues/1388 we should probably allow definitions not to specify a 'type' attribute.

[2017-10-29 15:40] ThomasCrevoisier commented on #128
Sorry, I've been crazy busy those past few weeks. I'll try to push the separation of Swagger2 and OpenAPI 3 next week and then we will be able to make the OpenAPI 3 module evolve independently if that's okay.

[2017-11-07 17:43] lucasdicioccio commented on #93
Started something at https://github.com/lucasdicioccio/swagger2/commit/d748ab74a444e2af092f3dc0263bc9a10e4f644f . I'll take some more time to actually test the thinggy and try whether GHC7 works with the same instance.

(currently using something along these lines at work on a newtype defined over NonEmpty).

[2017-11-07 17:50] lucasdicioccio commented on #93
Obviously I mixed ToSchema and ToParamSchema in this quick fix before leaving :-). I'll do a proper one later.

[2017-11-08 18:08] lucasdicioccio commented on #93
Ok, updated
my fix https://github.com/lucasdicioccio/swagger2/commit/a1dbad9b34282d914146caeb751c2a13b09f2e31 .

Do you want to discuss over the Pull Request or in this thread? In particular, should I add an instance for GHC<8?

[2017-11-08 18:26] phadej commented on #93
please make a PR, and yes, please add a `semigroups` dependency, as

[code]

(latest `semigroups` is `0.18.3` atm, no need to push lower bound down, as we won't test that anyway)

[2017-11-08 18:26] phadej commented on #93
please make a PR, and yes, please add a `semigroups` dependency, as

[code]

(latest `semigroups` is `0.18.3` atm, no need to push lower bound down, as we won't test that anyway)

[2017-11-15 17:14] dfithian opened #134 "2.1.6 haddock docs are formatted strangely and missing modules"
I'm looking [here](http://hackage.haskell.org/package/swagger2), and it's missing docs for many of the exported modules (Data.Swagger in particular).

I'm looking [here](http://hackage.haskell.org/package/swagger2-2.2/docs/Data-Swagger-Internal.html), and it's missing appropriate styling.

[2017-11-23 10:10] bergmark commented on #66
Fixed in nightly 8.2.2 build so I think this can be closed.

[2017-11-23 11:08] #66 closed

[2017-12-13 12:11] michalrus opened #135 "Parametrized data types have their first ToSchema used everywhere"
Hello!

If I have, say:

[code]

… and then use both `SomeValue Text`, `SomeValue Bool` in the API definition, then, in the generated swagger.json, all instances of `SomeValue Bool` will be rendered as if they were `SomeValue Text`.

[2017-12-13 13:12] michalrus opened #136 "JSON keys examples in a Schema of (Map UUID Something)?"
Sometimes it’s useful to return a `Map k v` from an API, e.g. when this `k` is some kind of a newtype over UUID, or similar.

Anyway, in such a case, the generated example value looks like:

[code]

while the real response:

[code]

Perhaps it’d possible to have:

[code]

?

Now, the generated swagger.json contains:

[code]

[2017-12-13 13:41] phadej commented on #135
"Duplicate" of https://github.com/GetShopTV/swagger2/issues

[2017-12-13 14:36] michalrus commented on #135
@phadej did you mean a particular one? Or are just most issues about that? :sweat_smile:

[2017-12-13 14:40] phadej commented on #135
I meant
https://github.com/GetShopTV/swagger2/issues/94

Sent from my iPhone

[2017-12-26 10:01] NCrashed opened #137 "Dropped from LTS 10 nightly"
Hi, there are upper bounds problems with `haskell-src-exts` that causes `swagger2` to be deleted from latest stackage (and thus my packages that depends on `swagger2`, heh).

Snoyman post: https://www.snoyman.com/blog/2017/12/dropped-packages-following-lts-10
PR: https://github.com/fpco/stackage/pull/3140/files#diff-b42a893675b90dbfa12fe0ce6064f0baR2105

[2017-12-26 14:09] phadej commented on #137
Let's wait till maintainers of aeson-qq add support, i.e. have holiday till next year!

Sent from my iPhone

[2017-12-29 08:11] qrilka commented on #86
@fizruk this instance above doesn't seem to be valid for version 2.2 of the library  - is there any workaround?

[2017-12-29 09:25] fizruk commented on #86
@qrilka the instance is valid, but is overlapping with a more general one for `HashMap` (since `Object` is a type synonym). You only need to add `{-# OVERLAPPING #-}` pragma to make it work:

[code]

[2017-12-29 10:52] qrilka commented on #86
using your instance above:
[code]

[2017-12-29 11:29] qrilka commented on #86
`Value` could be specified as `AnyValue` from https://stackoverflow.com/a/43328994/110400 but as far as I understand `swagger2` can't support specs with not type specified.

[2017-12-31 15:59] fizruk commented on #86
Yeah, I see what I did there with "not mentioned" fields.
How bad is it for your particular use case though?

Interesting, I didn't know `type` is an optional field!
I guess we should update `swagger2` to support that.

[2017-12-31 16:01] #132 closed

[2018-01-03 06:31] qrilka commented on #86
As of now we've downgraded to version 2.1.6 but actually this new strictness in validation showed up minor inconsistency in one of our legacy endpoints which actually needs to be resolved.
And as for `AnyValue` I don't see a need for it in our application.

[2018-01-29 12:00] michalrus commented on #135
So if one needs a quick fix, here’s what they can do:

[code]

[2018-02-21 20:53] fizruk commented on #137
Seems like both `aeson-qq` and `swagger2` are back in LTS and nightly snapshots :)

[2018-02-21 20:53] #137 closed

[2018-02-21 22:05] fizruk commented on #136
Yes, this can be done using `example` property of schema. Something like this should work:

[code]

@michalrus would you like to submit a PR with examples constructed this way for various maps?

[2018-02-21 23:49] fizruk commented on #134
I think the haddocks are fixed now.

[2018-02-21 23:49] #134 closed

[2018-02-21 23:51] fizruk opened #138 "Make schema type optional"
See https://github.com/GetShopTV/swagger2/issues/131#issuecomment-339069562.

[2018-02-21 23:53] fizruk commented on #135
Closing as duplicate of #94.

[2018-02-21 23:53] #135 closed

[2018-02-22 00:02] fizruk commented on #127
I think https://github.com/GetShopTV/swagger2/issues/127#issuecomment-335711767 should be added somewhere in the [How to use this library](http://hackage.haskell.org/package/swagger2-2.2/docs/Data-Swagger.html#g:1) section.

[2018-02-22 00:03] #124 closed

[2018-02-22 00:18] fizruk commented on #112
Closing this as outdated. Please reopen if you still experience the issue.

[2018-02-22 00:18] #112 closed

[2018-02-22 00:39] fizruk commented on #86
I think we can add an instance for `Value` once #138 is done.

[2018-02-22 00:59] fizruk commented on #79
@phadej I think there's going to be some new language extension that will eliminate the need in `ToSchemaN` classes... but I can't remember where I saw it 🤔

[2018-02-22 01:24] fizruk commented on #31
There's `example` property in `Schema`, we could use that to derive `example` for some composite types (e.g. for `Map k v`).

See #136.

[2018-02-22 01:24] #31 closed

[2018-02-22 12:14] phadej commented on #79
on twitter. But it will be only in GHC-8.6 the earliest, so don't hold your breath.

[2018-02-22 12:47] fizruk commented on #79
@phadej can you tell me what the extension is called? :)

Also, I guess you and me won't have time for this issue until GHC 8.6 anyway...

[2018-02-22 13:08] phadej commented on #79
`QuantifiedContexts`
- https://ghc.haskell.org/trac/ghc/ticket/2893
- https://phabricator.haskell.org/D4353
- https://github.com/ghc/ghc/tree/wip/T2893

[2018-03-02 16:15] reactormonk opened #139 "Provide a `Options -> SchemaOptions`"
It would be convenient to reuse the `aesonOptions :: Options` defined for deriving the codes in the swagger definition as well, instead of having to write two different schemas.

[2018-03-02 20:45] fizruk commented on #139
@reactormonk right, I would call it `fromAesonOptions :: Aeson.Options -> SchemOptions`.
This seems straightforward, would you like to send a PR? :)

[2018-03-06 21:41] parsonsmatt opened #140 "Validation errors don't provide any context"
`validateToJSON` provides somewhat unhelpful error messages. Here's an example from IOHK codebase:

[code]

It's not mentioned *what* field was expected to be a JSON value of type `SwaggerString`, just that one of them was. It would be nice to have more information on what failed the test.

[2018-03-07 00:11] fizruk commented on #140
I totally agree!
In fact I think something like default `FromJSON` instances do should be doable.
Also we might want to add what that value was (instead of just saying what it is not). In some cases I imagine this might be a huge value, so we could at least mention type of an actual value.

Perhaps something like this could work:

[code]

Since we're not expected to validate with incredible perfor

[2018-03-07 00:54] parsonsmatt commented on #140
I have other priorities at the moment :(

[2018-03-07 01:01] parsonsmatt opened #142 "A `Maybe` field will be invalid against a `null`"
I'm getting validation errors against `Maybe` fields:

[code]

Omitting `"foo"` from the `required` fields does not fix this issue.

What's the right way to get maybe fields to validate correctly?

[2018-03-07 01:09] fizruk commented on #142
I personally use `omitNothingFields` for all my JSON instances, so I don't encounter this problem.

We could alter `validateToJSON` so that `null` is considered equivalent to a missing field.
Although I'm not 100% sure that's the right thing to do (I think it might break some code in theory).

A better solution would probably be to add some `nullable` support (e.g. see #128).

[2018-03-07 02:08] fizruk commented on #142
Ah, I see `omitNothingFields` actually has nothing to do with your problem.

Your problem is because of a weird behaviour feature (bug) of Generic-based `ToSchema` instance which only happens for **single field data types with `Maybe`**! It just so happens that I've never tried that case.

This is how everything works if you just add another field (even without `omitNothingFields`):

[code]

### W

[2018-03-07 03:23] #142 closed

[2018-03-08 15:34] LukaHorvat opened #144 "Can't derive ToSchema for types with polymorphic fields"
[code]

Results in this error
[code]

[2018-03-09 00:57] fizruk commented on #144
For some reason it does not work with `DeriveAnyClass`, yes.
But it does work like this:

[code]

[code]

Note that the field is always required (even when you instantiate `a` with `Maybe Int`):

[code]

[2018-03-09 08:16] przemyslawlib-blueveery commented on #139
`grep -r "aesonOptions"; grep -r "fromAesonOptions"; grep -r "Aeson.Options";`
All return no matches. Where those types renamed? Is it already done? (If not, can you provide filename where I could start).

Thx.

[2018-03-09 08:19] przemoli commented on #139
`grep -r "aesonOptions";grep -r "fromAesonOptions";grep -r "Aeson.Options";` All find no match.

Was it renamed? Is this issue already solved?
Can you post a filename where I could start reading?

Thx.

[2018-03-09 08:25] przemoli commented on #138
To clarify. If no type is provided, it should be infered based on other properties in definition?
https://github.com/json-schema-faker/json-schema-faker#inferred-types

[2018-03-09 08:56] LukaHorvat commented on #144
Very interesting. I wonder why it works at all. The error I posted does seem reasonable.

Thanks for the workaround!

[2018-03-09 20:28] #139 closed

[2018-03-09 21:28] fizruk commented on #93
Closed in 22e975e.

[2018-03-09 21:28] #93 closed

[2018-03-17 18:13] dhess opened #147 "Support for GHC 8.4.1"
`swagger2` has a few issues with GHC 8.4.1:

[code]

[2018-03-19 13:26] michalrus commented on #94
How about if we did something like that?

@phadej will probably say that `Typeble` is code smell, but… It really works wonderfully and is *very* short to use for new polymorphic types. #deadlines

[code]

And then:

[code]

[2018-03-19 13:26] michalrus commented on #135
Perhaps a better solution to the above one is in https://github.com/GetShopTV/swagger2/issues/94#issuecomment-374210562

[2018-03-19 13:57] michalrus commented on #94
This even works nicely for data families parametrized with types from +XDataKinds:

![screenshot-20180319-145215](https://user-images.githubusercontent.com/4366292/37599794-da438be8-2b85-11e8-9270-18427e4730ae.png)

[2018-03-22 12:50] michalrus opened #150 "ToSchema, proxy, and GeneralizedNewtypeDeriving"
This won’t work:

[code]

with the following error:

[code]

Perhaps when using a concrete `Data.Proxy.Proxy` instead of `forall proxy. proxy`, this would’ve worked?

[2018-03-22 13:12] phadej commented on #150
Alternatively we could have `TaggedNamedSchema a`. which might be even better..

[2018-03-22 13:13] phadej commented on #150
@michalrus note that *GND* is questionable for `ToSchema` though, as the name of the schema won't change, it will be still `UUID`. It might be what you want, or not.

[2018-03-22 13:15] michalrus commented on #150
Ohhhhhh, right, absolutely! I don’t want that. Sorry for the noise!

[2018-03-23 10:51] LukaHorvat commented on #144
Some more info on this:

For the particular case of a polymorphic type with only one field, this will always be required. This instance handles optional fields:

[code]

But this instance is found first and it bypasses the check:

[code]

So yeah. Maybe this needs to be changed or maybe it makes sense semantically. I didn't give it too much thought. However, if we add an extra field, then we can s

[2018-04-09 15:42] ThomasCrevoisier commented on #105
I deeply apologize for my lack of communication on this one. I didn't find the time to tackle this and I find myself lost in generics...

[2018-06-06 07:08] phadej opened #156 "Network-2.7 deprecated `Network` module"
[code]

Let's migrate to use non-deprecated `Network.Socket`.

[2018-08-22 05:30] fizruk commented on #94
@michalrus Sorry I haven't answered you in a while!

I have encountered this problem myself recently and I had to think about it once more. I think your approach is great and we should actually make it default. However, there's one part of your implementation that bugs me: `T.replace " " "_"`. Why do you want that? Is it for Swagger UI? What about other special symbols (e.g. something like `Result

[2018-08-22 13:33] michalrus commented on #94
@fizruk, @phadej, awesome! :sparkles:

As for `T.replace " " "_"`, I don’t remember, hmm… It’s very possible that I just thought it looked nicer. :blush: I think full URL encoding seems unnecessary, because `'`, `[` etc. work fine.

[2018-08-22 13:34] michalrus commented on #94
Oh, one reason could be `swagger-codegen`, this would need testing with spaces in symbol names.

[2018-08-22 13:36] phadej commented on #94
@michalrus If `swagger-codegen` breaks, it's its problem. You could postprocess `SwaggerDoc` for it, but let's not do it for everyone.

[2018-08-22 13:38] michalrus commented on #94
Yes, absolutely, I was speaking from a mundane *I-need-to-get-this-done* perspective. Sorry. :smiley_cat:

[2018-08-22 13:40] fizruk commented on #94
@phadej should we make this `wellNamedSchema` default? I would like to :)

[2018-08-22 13:51] phadej commented on #94
@fizruk I think so, let's have current as as a fallback for ones who need it.

I have few

[code]

which will break, but those are easy to fix. When the fix-for-this-issue is merged, I can try `master` on our codebase.

[2018-08-22 13:55] phadej commented on #94
Note (which may be included in docs, in way or another), that fully resolved `Typeable` is only on monomorphic types, but I don't think there are APIs which have polymorphic types in them, It would be kind of weird to have:

[code]

(and getting a `swaggerDoc` for that!)

So I expect the breakage only for generically derived `ToSchema` -instances, as I mentioned above.

[2018-08-22 14:07] fizruk commented on #94
Actually that can be useful :) For instance, I use it here: https://github.com/fizruk/arangodb/blob/7dca8557cc6a06b59e8efdf63991a6f7b7b7dc82/src/ArangoDB/Internal/AQL.hs#L41-L44

But yes, for swagger documentation I have to instantiate that variable (e.g. with `Aeson.Object`).

[2018-08-22 14:11] phadej commented on #94
@fizruk in your example, `CursorResponse` **has** `[a]` (even `CursorRequest` has phantom `a`).

[2018-09-01 22:54] neongreen opened #165 "Tags shouldn't be sorted"
Currently we have `_swaggerTags :: Set Tag`. As the result, tags in the generated schema are sorted alphabetically. As the result, tools that rely on this order (both Swagger UI and ReDoc) show endpoint groups in an order that doesn't match the order intended by the user.

Or at least I guess so :slightly_smiling_face:

[2018-09-02 07:05] phadej commented on #165
@fizruk Should we have InsOrdSet?

Sent from my iPhone

[2018-09-25 18:37] michalrus commented on #136
After another bug in our client code, I’m getting back to this issue. Sorry it took so long.

The `example` way is very nice! Thank you.

I’m thinking, could we also state somehow what type the keys are? For example if we have this:

[code]

… and then if we make some endpoint return a `Map UserId Text`, and the other one `Map GroupId Text`, how to make this `UserId` visibile in the first one, i.e

[2018-09-25 20:33] michalrus opened #167 "Nullary schema should render valid swagger code"
What we’re doing currently returns quite a few errors from the validator (and crashes swagger-codegen etc.):

https://github.com/GetShopTV/swagger2/blob/f42c345e3a2e7467c524678bd6100c56ee6a9a17/src/Data/Swagger/Internal/Schema.hs#L717-L720

[code]

E.g. notice that `"items"` must be an object, and they’re an array above.

But this does not, and closely matches Aeson’s `[]` representation of `()` a

[2018-09-26 10:39] phadej commented on #167
@michalrus Is

[code]

correct schema though? I.e. is the empty array the only wrong thing to do?

[2018-09-26 10:40] phadej commented on #167
oh sorry, wrong example

correct one:
[code]

[2018-09-26 11:37] fizruk commented on #136
In both Swagger 2.0 and [OpenAPI 3.0](https://swagger.io/docs/specification/data-models/dictionaries/) **keys are strings**.

The only way you can mention key type is via documentation (at least for most key types).

However, if your key type is an enumeration type and has finitely many values, you can do something like this:

[code]

Here's usage example:

[code]

[code]

[2018-09-26 12:36] fizruk commented on #167
I think in Swagger 2.0 arrays as `items` were used to represent tuples and I thought empty array would do. Unfortunately I can't find a confirmation of that now :(

OpenAPI 3.0 allows `items` to only be a schema and deals with tuples using `oneOf` (which is not as strong since it does not enforce order and multiplicity). See https://swagger.io/docs/specification/data-models/data-types/ for details

[2018-09-26 14:07] fizruk commented on #167
I'm not sure anymore if Swagger 2.0 allows tuples. I thought it did, but since I introduced `SwaggerItemsArray` a few years back they've changed the spec a couple times, so I don't know anymore.

[2018-09-26 15:10] michalrus commented on #167
@phadej your example:

[code]
… is not a schema error, but a semantic error, returning:

[code]

Semantic errors don’t make the document invalid, for some reason. Also it works well in Swagger-UI.

-------

This one, on the other hand (more/less our current one):

[code]

returns:

[code]

and is not valid.

-------

@fizruk this one is valid as well (according to the validator, I don’t know how c

[2018-09-26 15:44] phadej commented on #167
ok, so if we return that object for an empty `SwaggerItemsArray` things should pass validation?

[2018-09-26 16:31] michalrus commented on #167
I think so. =)

[2018-09-26 17:45] phadej commented on #167
@michalrus could you make a PR?

[2018-09-26 18:14] michalrus commented on #136
Yes, clear.

So your first suggestion won’t work for complex types in values (which don’t have an `example`, i.e. when an example is implicitly constructed by Swagger-UI).

But I used the second suggestion to come up with this:

[code]

So a description of that Map is set to its type name. Also we add a single artificial property which contains a sample key value (or `*`) and the key type name.

I

[2018-09-26 22:35] fizruk commented on #167
This strongly suggests that I am not delusional and tuples were indeed supported at some point! 😅

@michalrus let us know if you're willing to make that PR 😊

[2018-09-27 10:20] michalrus commented on #167
Sure, I can. =)

So, for an empty `SwaggerItemsArray`, is it this one:

[code]
… or this one:
[code]
…?

Neither of these returns a schema nor a semantic error, so they’re both fine.

I like untyped a bit more, since it doesn’t display the `null` in Swagger-UI (in the models section and tabs), but just an empty object instead.

[2018-09-27 10:34] phadej commented on #167
:+1: for untyped

Sent from my iPhone

[2018-09-27 12:51] fizruk commented on #167
@michalrus I'm okay with any one as long as you clearly document the choice. AFAIK the untyped one is not a valid Swagger 2.0 Schema, but it does not matter when there are zero values of that type I guess (lazy typing?) 😅

[2018-09-27 13:53] michalrus commented on #167
Okay. =)

Please, take a look at the horrendous draft… … …

[2018-10-16 09:48] michalrus opened #171 "Auto-generate nicer `operationId`s for deep linking / permalinks in Swagger-UI?"
So if there’s no explicit `operationId`, Swagger-UI will generate fragment names for their `deepLinking`.

But those fragment names are rather ugly.

Also they have a history of breaking deep linking, see:
* https://github.com/swagger-api/swagger-ui/issues/4929
* https://github.com/swagger-api/swagger-ui/issues/4895

Also not all characters are accepted, instead of being correct w.r.t. Swagger val

[2018-11-24 17:36] #167 closed

[2018-12-03 12:36] cdupont opened #176 "Example value for ParamSchema"
I'd like to add an example value for a ParamSchema, to be able to see it in Swagger-UI.
For example for a Schema, I added an example:

[code]

The example value "defaultFoo" will render in Swagger for the body of a request. But for a URL parameter, how to get the example?

[2018-12-03 18:04] phadej commented on #176
Parameter objects doesn't seem to include examples https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#parameter-object says

There are various other fields you can use.

Not in the spec: Swagger UI won't show them either :(

I'm not sure about OpenAPI3

[2019-01-30 15:03] Martoon-00 opened #177 "Description in ParamSchema"
I may be missing something, but why `ParamSchema` does not include a description field?
Swagger2 seems to allow it, and sometimes having a parameter description is really desired.

Example:
[code]

In the online swagger editor that description is rendered fine:

![screenshot from 2019-01-30 17-59-11](https://user-images.githubusercontent.com/5394217/51989764-c9d0d680-24b8-11e9-9be3-dea2e6ef1f4c.pn

[2019-02-01 01:41] Martoon-00 commented on #177
Thanks, now everything falls into place for me.

P.S. I very liked this hack with comment-like operator :heart:

[2019-02-01 01:41] #177 closed

[2019-02-18 11:19] kahlil29 opened #179 "A typeclass to go from a type (representing a Parameter) to an Operation/Param type"
I have a haskell representation of endpoints, their inputs (parameters) and outputs (responses).
I am using `ToSchema` to convert back from Haskell data structures to the corresponding `Schema` structures.

I wanted to do the same for my Parameters (currently represented by Haskell types in the code), so that I can generate a Swagger Doc (Json) from my Haskell code and properly represent the Endpo

[2019-02-20 23:58] Martoon-00 commented on #165
Let me remind about this issue. Are there plans to switch to keeping tags in `InsOrdSet`?

[2019-02-22 17:34] fieldstrength commented on #150
Hi! I recently found myself affected by this design decision as well. I would be quite interested if there is some way to have a workaround. If so I'd be willing to help with the implementation.

My use case involves `DerivingVia`. I have a newtype that keeps track of how to transform the JSON encodings. This is quite valuable to us because it prevents the various type classes that know about the

[2019-02-22 17:49] phadej commented on #150
Adding new method won't help GND/DerivingVia. All methods have to be coercible

Sent from my iPhone

[2019-02-22 21:22] fizruk commented on #150
@fieldstrength I know this is not as neat as `DerivingVia`, but you can always do this:

[code]

See the [full gist](https://gist.github.com/fizruk/c2a5e5fd3310b915b5b124e511096919) (based on yours).

@phadej how much code would we break if we switch from `proxy` to `Proxy`? I don't really see the benefit of `proxy` anymore, do you?

[2019-02-23 17:18] fieldstrength commented on #150
Thanks for the feedback and pointers!

I was encouraged @fizruk that you seem positive towards the change so I went ahead and made the PR. Happily, it is a quite small patch. I have also sanity-checked that it does indeed allow `DerivingVia` to work.

[2019-02-27 21:24] #150 closed

[2019-02-27 21:24] phadej commented on #165
I assigned this to myself, let's make this happen.

[2019-04-04 17:15] kahlil29 opened #182 "A way to know where a reference is defined"
Apart from the "global" `Definitions`, there are also `Responses` and `Parameters` that can be defined globally.

So essentially a reference can also be of the following formats in the Swagger doc (apart from `#/definitions/someData` :
[code]

For reference : This StackOverflow [answer](https://stackoverflow.com/questions/31249788/how-to-reference-to-a-response-object-with-swagger)

In `swagger2`

[2019-04-05 11:16] kahlil29 commented on #182
This was an oversight on my part.
After re-inspecting the `Swagger` data types in the library, I realized it is quite simple to know which reference is coming from where.

Closing this issue.

[2019-04-05 11:16] #182 closed

[2019-04-15 18:36] NCrashed opened #183 "Nontermination for recursive sum with fields"
Seems like come back of #132

Tests from https://github.com/NCrashed/swagger2 hangs on generation schema for the type:
[code]

[2019-04-18 00:15] bitemyapp opened #185 "Accidentally truncating fields generates invalid Swagger specifications"
https://github.com/bitemyapp/swagger2-empty-field-name-bug/blob/master/app/Main.hs

[code]

Now, I realize dropping too many characters is a user error, but there's absolutely no warning anywhere that you made a mistake and it generates Swagger that is rejected by editor.swagger.io

The error you get from the editor is, `items must be an object`.

It seems like it's handling an empty string poorly

[2019-04-18 06:36] fizruk commented on #185
Right, `swagger2` turns records with empty field names (which is what we get from `GHC.Generics` for non-record product types) intro tuples represented by JSON arrays. This is the code responsible:

https://github.com/GetShopTV/swagger2/blob/eaf9fc9dd41b65b522a5ab1b18af9b0c5c53bc55/src/Data/Swagger/Internal/Schema.hs#L784-L800

You can see that is checks `T.null fname` to decide whether it will co

[2019-04-25 08:37] #138 closed

[2019-05-10 12:50] 23Skidoo opened #188 "Get rid of declareSchemaRef's Proxy argument in favour of TypeApplications"
Would be nice if I could write

[code]

instead of

[code]

Any objections? I can probably look into making a patch.

[2019-05-10 13:02] 23Skidoo commented on #188
Main downside of this is that it will mean losing compatibility with GHC < 8.

[2019-05-10 21:13] jonathanjouty commented on #188
Would this work well with `servant-swagger`?
In particular, if you only want a sub-part of the API to be part of the Swagger definition.

Would something like this work?
[code]

[2019-05-10 21:28] phadej commented on #188
@jonathanjouty  This change is not related to `servant-swagger` at all. `swagger2` to `servant-swagger` is like `aeson` is to `servant` (exaggerating, but close).

@23Skidoo I'd like to be consistent. What about `Data.Swagger.TypeApplications` with variants without `Proxy` argument (and `AllowAmbiguousTypes` enabled only there). Removing `Proxy` arguments would break everyone; that's not something

[2019-05-10 21:29] phadej commented on #188
Yet, I'd like to remove `proxy :: ` to make things `DerivingVia`ble.

[2019-05-10 22:02] 23Skidoo commented on #188
Fine with me.

[2019-05-28 20:46] #165 closed

[2019-06-13 16:26] LindaOrtega opened #193 "Invalid Nested Array of Different Types Generated"
Invalid swagger generated for types that are represented as nested arrays of different types.

For example,
[code]
both seem to be represented as Swagger Arrays of two items with two types.

But if I'm representing a array of these types:
[code]
seemed to be represented as Swagger Arrays of Swagger Arrays of different types.

When I run the generated swagger through a swagger editor, I get an erro

[2019-06-16 10:02] sphaso commented on #53
@fizruk is this issue still valid? would you mind if I take a stab at this?

[2019-06-17 09:20] fizruk commented on #53
@sphaso sure, would be great to introduce it as a new combinator though and update existing examples to include description! Thanks 😊

[2019-06-17 18:16] sphaso commented on #53
@fizruk great to hear! I'm not sure I understand what you mean by "combinator" in this context. Could you give me an example of an existing "combinator"? thanks!

[2019-06-18 10:16] fizruk commented on #53
@sphaso by "combinator" here I just mean to introduce a separate function, that is without changing existing `declareResponse` 😊

[2019-06-18 19:30] sphaso commented on #53
@fizruk sounds good, thanks! I guess I'll work on a function like

`setResponseDescription :: Text -> Declare (Definitions Schema) Response -> Declare (Definitions Schema) Response`

[2019-10-21 13:13] phadej opened #199 "Support only GHC-8.0?"
The next version of `insert-ordered-containers` would (preferably) support only GHC-8.0.

Should `swagger2` also drop GHC-7.8 and GHC-7.10 support? Also `servant` have been GHC-8.0+ for a while already.

[2019-10-22 09:08] #140 closed

[2019-11-09 20:41] #87 closed

[2019-11-11 04:36] arybczak commented on #199
Since #200 was merged this is already in effect.

[2019-11-11 09:35] #199 closed

[2019-11-12 13:37] arybczak opened #202 "New release with optics support"
Can we have a new release now that #200 is merged please?

[2019-11-12 13:49] fisx commented on #202
(I'm in favor, but don't have hackage access.)

[2019-11-18 11:57] fizruk commented on #202
@arybczak @fisx I will prepare release this weekend, if that's not an urgency.

[2019-11-23 10:52] fizruk commented on #202
[`swagger2-2.5` released on Hackage](https://hackage.haskell.org/package/swagger2-2.5)!

[2019-11-23 10:52] #202 closed

[2019-11-25 14:25] bford-ff commented on #113
I know this is a bit of an old issue, but I've run into something related. I want to add a sections like this (in yaml format) to each of the `paths` in my swagger definition:

[code]

I'm actually generating the whole of the swagger file from a servant API, which I'm deploying to AWS lambda with terraform - having the generated swagger be templated into the terraform set would be awesome. @fizruk

[2019-11-25 14:41] bford-ff commented on #113
It looks like I'd need to extend the `Operation` data type to make this work, perhaps a field like this? `extensions :: Maybe Value`

[2020-03-17 18:21] ilyakooo0 opened #204 "Escape URI"
Escape URIs to be RFC3986-compliant.

For example, it is quite common to have single quotes at the end of Haskell record names.

[2020-03-18 12:42] fisx commented on #204
Thanks for pointing this out.

I would go about this by replacing the internal `URL` newtype with `uri-bytestring`, then it's just a matter of using the library interface correctly.  (I don't know if there is any better uri library around.)

Would you be interested in putting together a PR?  That would be great!  :)

[2020-03-19 11:29] ilyakooo0 commented on #204
Is there a reason why you think using `uri-bytestring` is better than using libraries like `modern-uri` or `network-uri`?

[2020-03-19 12:26] fisx commented on #204
i don't think that, and no reason.  :-)

@fizruk any opinions?  anybody else?

[2020-03-19 12:27] ilyakooo0 commented on #204
I'm pretty sure it's not as simple as just replacing the URL with URI, since the structure schemas are stored and encoded as just a `InsOrdHashMap Text Scheme`.

[2020-03-19 12:28] ilyakooo0 commented on #204
I'm having trouble finding where the names from `NamedSchema` are converted into a URL

[2020-03-19 12:29] fisx commented on #204
I haven't checked that, and I won't have time this week to do so.  It's conceivable that more refactoring and repair work will be required for this.

[2020-04-04 21:48] shinzui commented on #105
@fieldstrength Is there a reason why you decided not to submit your fork as a PR? @fizruk Are you still interested in supporting OpenAPI3?

[2020-04-06 06:08] fisx commented on #105
note to self: swagger3 is not strictly more powerful, or at least not quite yet: https://github.com/swagger-api/swagger-ui/issues/4425 (but also https://github.com/OAI/OpenAPI-Specification/pull/1937).

[2020-04-07 20:05] robx opened #208 "Update bounds for GHC 8.10"
swagger2 currently doesn't build with GHC 8.10 (was checking PostgREST dependencies).

It turns out we'll have to wait for a new optics release https://github.com/well-typed/optics/issues/297 since optics 0.2 properly doesn't build with GHC currently, but I thought I'd log the progress I've made so far:

With this diff to `swagger2.cabal`

[code]

the package can be configured successfully with

[

[2020-04-14 21:58] paulyoung commented on #107
I pasted my swagger JSON into https://editor.swagger.io/ and saw this:

<img width="168" alt="Screen Shot 2020-04-14 at 2 35 57 PM" src="https://user-images.githubusercontent.com/84700/79276667-4a30ec80-7e5d-11ea-8625-5d369dd39e6f.png">
<img width="251" alt="Screen Shot 2020-04-14 at 2 35 44 PM" src="https://user-images.githubusercontent.com/84700/79276673-4c934680-7e5d-11ea-9e81-730a05a958a3.png"

[2020-04-14 22:50] paulyoung opened #209 "Empty paths field omitted from schema"
According to the Swagger 2 spec, the `paths` field is required, and some tooling considers it to be an error when the field is omitted.

It's possible to generate such JSON using swagger2. I think `"paths": {}` should be emitted in the case where there are no paths.

[2020-04-14 23:50] paulyoung commented on #209
I'm currently working around this with:

[code]

[2020-04-22 08:17] #208 closed

[2020-04-23 04:53] paulyoung opened #211 "Infinite <<loop>> when using named fields"
This data type:
[code]

Produces this JSON:
[code]

However, if I attempt to name the field like this:
[code]

I get:
[code]

[2020-04-23 13:00] paulyoung commented on #211
My motivation for using naked fields is in an attempt to have the `required` field populated and managed for me.

I’m hoping that I can later use that to know which type arguments were a `Maybe`

[2020-04-23 20:11] paulyoung opened #212 "`Maybe` fields listed as `required` in multi-constructor data types with named fields"
This works as expected, since`_1` is `required`:

[code]

[code]

So does this, since `_1` is not `required`:

[code]

[code]

But this does not, since `_2` should not be `required`:

[code]

[code]

[2020-04-30 15:10] fisx commented on #209
no, wait, i have something.

[2020-04-30 15:23] fisx commented on #211
looks like a legitimate bug to me.  do you have time to work on fixing this?

[2020-04-30 15:23] fisx commented on #212
looks like a legitimate bug to me.  do you have time to work on fixing this?

[2020-05-20 09:38] #209 closed

[2020-06-14 14:48] fisx opened #218 "Monoid instances are wrong"
for instance:

- the one in `_swaggerPaths` should treat the values as monoids and merge them.
- `PathItem` should merge, but overwrites.
- the on in `_operationResponses` (inside the `Responses` type) should overwrite.  oh, and actually does.  good.

proposed solution:

wrap InsOrdHashMap types in newtypes and give them individual instances.  to be more specific, add `newtype Merging a = Merging

[2020-06-14 14:53] fisx commented on #218
I'm also not sure about `SwaggerMonoid`, which differns in very few places, and it's hard to see which those are.  Perhaps we can get rid of this somehow as well?

[2020-06-14 15:00] Taneb commented on #218
It looks like the issue with `_swaggerPaths` has been fixed on GitHub but not yet released (although I haven't tested it). The problem with how operations are merged still stands, though.

[2020-10-07 18:37] paulyoung commented on #211
@Gabriel439 suggested that this could potentially be fixed using the same approach as in https://github.com/dhall-lang/dhall-haskell/issues/1660

[2020-10-07 18:38] paulyoung commented on #211
I linked to the issue but the PR that fixes it is https://github.com/dhall-lang/dhall-haskell/pull/1825

[2020-10-07 18:44] paulyoung commented on #211
It looks like those changes allow erroring out and breaking the loop but don't actually allow generic deriving of recursive data types.

[2020-11-22 04:59] r-burns opened #220 "Doctest failure on powerpc64"
I'm running into this error during doctests:
[code]

I suspect this is due to lack of RTS support on ppc64, if I understand this warning correctly:
[code]
The other tests seem to pass okay, and I haven't run into issues with other Haskell packages that depend on swagger2, so maybe this test should be skipped on platforms without RTS support?

Full test log:
<details>

[code]
</details>

[2021-02-23 17:53] felixonmars opened #222 "Test failures with hashable 1.3.1.0"
They all pass with hashable 1.3.0.0 and others unchanged.

[code]

[2021-04-28 06:36] kaol opened #224 "Generated swagger may have undefined references"
It's possible for a Swagger spec to have undefined references. The following check returns a nonempty list if that happens. Any such swagger spec will cause trouble with any tools trying to use it. I'm not quite sure where it would fit in `Data.Swagger.Schema.Validation` as those concern validating data against a spec but this is about the validity of the spec itself.

[Here's](https://github.com/

[2021-06-05 09:11] johannes-bruegmann commented on #76
I would be glad about a fix. Do you think you can provide it soon? I am still using swagger2.

[2021-10-29 13:58] akhesaCaro opened #226 "Aeson security Issue (Servant dependency)"
Hi swagger2 maintainers,

I am a [servant](https://github.com/haskell-servant/servant) maintainer and I am trying to bump aeson following the [security issue](https://github.com/haskell/aeson/issues/864)
Servant has a dependency with **swagger2** but [aeson](https://github.com/GetShopTV/swagger2/blob/51f2108826dff2a0c31b581025e8f9f9b29accb1/swagger2.cabal#L76) has been bounded below 1.6

Would it

[2021-11-02 17:37] fizruk commented on #226
Hi, I'm sorry for a late reply, we haven't been very active on the open source front lately. However, @swamp-agr has volunteered to help with this :)

[2021-11-05 21:39] swamp-agr opened #227 "GHC 9.2 support"
TODO:

- [ ] `optics-th-0.4` depends on `template-haskell`.
- [ ] `lens-5.0.1` depends on `template-haskell`.
- [ ] `insert-ordered-containers-0.2.5` depends on `base`.
- [ ] `http-media-0.8.0.0` depends on `base`.
- [ ] `generics-sop-0.5.1.1` depends on `base` `ghc-prim`, `temlate-haskell`.
- [ ] `sop-core-0.5.0.1` depends on `base`.
- [ ] `aeson-2.0.1.0` depends on `ghc-prim`, `template-haskell`

[2021-11-11 08:13] #226 closed

[2021-12-10 11:26] fisx opened #229 "Disallow inserting two schemas under the same name"
I just [fixed a mistake in our code](https://github.com/wireapp/wire-server/pull/1982) that would have been nice to catch in the library: if you add the same name for a json schema twice in the same swagger document, it's almost certainly a mistake and should trigger an error.

Example (not tested):

[code]

The typo in T2 causes the two generated schemas to be stored under the same name, and one

[2022-02-02 16:44] ysangkok commented on #227
I am not sure what your list of items means, but I applied this patch and it builds:
[code]

But the testsuite fails, looks like problems with doctest.

[2022-02-03 17:40] #227 closed

[2022-02-03 23:46] swamp-agr commented on #227
Released on hackage: https://hackage.haskell.org/package/swagger2-2.8

[2022-03-08 17:28] ysangkok commented on #222
Is this still an issue after https://github.com/GetShopTV/swagger2/pull/228/files ?

[2022-06-17 23:54] swamp-agr commented on #222
@felixonmars feel free to re-open issue if it still reproduces for you after release. The current one is `2.8.3`.

[2022-06-17 23:54] #222 closed

[2022-07-20 15:24] dten opened #240 "Should this validate JSON via toEncoding?"
I noticed recently that whilst servant's `MimRender JSON` calls `encode` which calls `toEncoding` however the swagger tests call `toJSON`.

https://github.com/haskell-servant/servant/blob/master/servant/src/Servant/API/ContentTypes.hs#L334

https://github.com/GetShopTV/swagger2/blob/master/src/Data/Swagger/Internal/Schema/Validation.hs#L77

The default implementation for `toEncoding` calls `toJSON

[2022-08-09 10:14] PaulJohnson opened #241 "Generic ToSchema does not match generic ToAeson"
By default the generic `ToJSON` instance uses a tagged field, but the generic `ToSchema` uses a single constructor:

[code]

[code]

[2022-08-12 19:56] swamp-agr commented on #241
Hey @PaulJohnson could you please specify what versions of `aeson` and `swagger2` you are using in the case?

[2022-08-13 08:20] PaulJohnson commented on #241
@swamp-agr  Good question. Unfortunately this is at work and I'm currently on leave. I'll update you next week.

[2022-08-22 08:26] PaulJohnson commented on #241
swagger2-2.8.4
aeson-2.0.3.0

[2022-09-29 18:59] felixonmars commented on #222
Thanks, it works correctly with `2.8.1` as we just recently updated to. Sorry for the late response!

[2022-10-18 10:20] TeofilC opened #243 "Cut a hackage release"
Would it be possible to make a hackage release or revision with the version bumps from #242?

[2022-10-18 17:50] dmjio commented on #243
https://hackage.haskell.org/package/swagger2-2.8.5

[2022-10-18 17:50] #243 closed

[2022-10-21 08:01] fisx commented on #14
just ran into this problem as well and started thinking about work-arounds.  happy to see that's done!  :)

ideally, i would like to see a solution that doesn't require the user to think about things (like explicit module paths in the HM keys and in the generated swagger code), and also handles `-XPackageImports` correctly (or errors out rather than producing wrong results).  but i don't think i'l